<div id="page">
  <% if @questions.any? -%>
    <ol class="questions">
      <%= render @questions %>
    </ol>
    <%= paginate @questions, outer_window: 1, params: {format: nil}, replace: '#page', scroll: 'section' %>
    <% else %>
    <div class="notif info">
      <h3>Nobody has asked any questions yet!</h3>
      <p>Do you want to get the ball rolling?</p>
      <%= link_to 'Ask a Question', new_question_path(@jurisdiction.abbreviation), class: 'cta-pill' %>
    </div>
  <% end -%>
</div>
