<%= render 'shared/navigation' %>

<section class="questions listings">
  <header>
    <h1>Questions</h1>
    <%= link_to 'Ask a Question', new_question_path(@jurisdiction.abbreviation), class: 'cta_pill' %>
  </header>
  <div class="filters">
    <span class="info">Show:</span><%# @todo DM are these really the filters we're using? %>

    <a href="#" class="radio_button filter inactive"><span class="use"></span>Need Signatures</a>

    <a href="#" class="radio_button filter inactive"><span class="use"></span>Have Answers</a>

    <a href="#" class="radio_button filter inactive"><span class="use"></span>Need Answers</a>

    <a href="#" class="radio_button filter inactive"><span class="use"></span>Recent</a>

    <div class="search"><%# @todo DM full-text search within state? %>
      <input type="text" name="" id="" placeholder="Search state">
      <input type="submit" value="">
    </div>
  </div>

  <%= render partial: 'page' %>
</section>

<div id='overlay'></div>
<div id='modal'>
  <div id='modal-content'>
    <p>Share your question:
    <a href='#' class='modal-facebook'>
      <i class='icon-facebook'></i>
      Facebook
    </a>
    or
    <a href='#' class='modal-twitter'>
      <i class='icon-twitter'></i>
      Twitter
    </a>
    </p>
  </div>
</div>
