<%= render 'shared/navigation' %>

<section class="question">
  <%= form_for @question, jurisdiction: @jurisdiction.abbreviation, html: { accept_charset: 'utf-8', class: 'action' } do |f| %>
    <% locals = { question: @question, person: @person, step_details: @step_details, f: f } -%>
    <%= render partial: "#{@step}_step", locals: locals %>
    <%= render partial: 'progress', locals: locals %>
  <% end %>
</section>
