<section>
	<nav>
		<ul class="top_nav">
			<li class="subject">
				Pennsylvania
			</li>
			<li>
				<a href="/" class="active">Questions</a>
			</li>
			<li><a href="#">Bills</a></li>
			<li><a href="#">People</a></li>
			<li><a href="#">Issues</a></li>
			<li><a href="#">Money</a></li>
			<li><a href="#">State Overview</a></li>
		</ul>
	</nav>
</section>

<section class="question">
	<article>
		<header>
			<h2>To <strong>Ron Paul</strong> <span>(R- 6th House District)</span></h2>
			<h1>What for dost doth under thy venerable name?</h1>
		</header>
		<p>Several points I think the bill is unconstitutional: first It already lacks the constitutionally required final determination of which rules should allow access to communications data (just legal Zitiergebot). second It lacks the constitutionally required limitation of data access to individual cases. third Contrary to the requirements of the Federal Constitutional Court are requests for communications data by police not be restricted to cases of specific risk or suspicion of a misdemeanor or felony. Contrary to the requirements of the Federal Constitutional Court is the identification of Internet users are even allowed to identify minor offenses.</p>
		<p>Contrary to the requirements of the Federal Constitutional Court is the identification of Internet users are even allowed to identify minor offenses. Should allow access to communications data (just legal Zitiergebot).</p>
		<span class="author_wrap">
			<span class="posted">Posted 1 hour ago by</span>
			<span class="author"><a href="#"><img src="http://lorempixel.com/40/40/people/" alt="" />Steve T</a></span>
		</span>
		
		<div class="support">
			<a href="#" class="cta_pill">Support this Question</a>
			<a href="#" class="email">E-mail this to Council Member &rarr;</a>
		</div>
		
		<div class="comments">
			<!--
			Disqus
			-->
	    <div id="disqus_thread"></div>
	    <script type="text/javascript">
	        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	        var disqus_shortname = 'dobot'; // required: replace example with your forum shortname

	        /* * * DON'T EDIT BELOW THIS LINE * * */
	        (function() {
	            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
	            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	        })();
	    </script>
	    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    
			
		</div>
	</article>
	<div class="actions">
		<ul>
			<li><a href="#" class="upvote">30</a></li>
			<li><a href="#" class="follow sim_act">+ Follow</a></li>
			<li><a href="#" class="share sim_act">Share</a></li>
		</ul>
		<h5>Tags</h5>
		<ul class="tags">
			<li><a href="#">Tag A</a><div class="usage" style="width:10%;"></div></li>
			<li><a href="#">Tag B</a><div class="usage" style="width:60%;"></div></li>
			<li><a href="#">Tag C</a><div class="usage" style="width:30%;"></div></li>
		</ul>
		<h5>Inappropriate?</h5>
		<a href="#" class="flag">Flag this question</a>
	</div>
</section>

<p>Find me in app/views/questions/show.html.erb</p>
