<%= render 'shared/navigation' %>

<section class="question">
  <article>
    <header>
      <h1 class="action">Who should answer this question?</h1>
    </header>
    
    <span class="toggle">
      <span>Find them with</span>
      <a href="#twitter_find" class="select twitter active icon-ok mobile">Twitter</a>
      <a class="select twitter active icon-ok">Twitter</a>
      <a name="twitter_find" class="anchor"></a>
      <span>or</span>
      <a href="#address_lookup" class="select address_lookup mobile">Address Lookup</a>
      <a class="select address_lookup">Address Lookup</a>
      <a name="address_lookup" class="anchor"></a>
    </span>
    
    <form action="" class="twitter">
      <div class="inline_label to">
        <label for="twitter">To:</label>
        <input type="text" name="twitter" id="twitter" placeholder="Enter a verified twitter account name" />
      </div>
      <ol class="people-list select-person twitter">
        <li style="display:none;" class="selected">
          <div class="select_box">
            <input type="radio" name="person-select" id="" />
          </div>
          <div class="avatar">
            <img src="" alt="" />
          </div>
          <h2></h2>
          <div class="person-info">
            <p></p>
          </div>
          <span class="selected icon-ok-sign"></span>
        </li>
      </ol>
    </form>

    <form style="display:none;" action="<#= preview_questions_path(@jurisdiction.abbreviation) #>" method="get" accept-charset="utf-8" class="address_lookup"><%# @todo make into a proper form %>
      <label for="question">Home Address
        <span class="details">Where you live lets us locate your officials!</span>
      </label>
      
      <fieldset>
        <label for="street" class="lesser">Address</label>
        <input type="text" name="street" id="street" placeholder="Street Address" />

        <label for="city" class="lesser">City</label>
        <input type="text" name="street" id="city" placeholder="City" />
      
        <label for="state" class="lesser">State</label>
        <!-- <input type="text" name="street" id="state" placeholder="State Abbreviation (ex. MA)" /> -->
        
        <div class="input select sculpt icon-angle-down">
          <select name="" id="">
            <option value="State">Select your state</option>
          </select>
        </div>
        
      
        <label for="zipcode" class="lesser">Zipcode</label>
        <input type="text" name="street" id="zipcode" placeholder="ex. 02141" />
      </fieldset>
      
      <label for="question" class="select-person" style="display:none;">Recipient
        <span class="details">Select who you'd like to receive the question:</span>
      </label>
      
      <fieldset>
        <ol class="people-list select-person">
          <% 10.times do %>
          <li style="display:none;">
            <div class="select_box">
              <input type="radio" name="person-select" id="" />
            </div>
            <div class="avatar">
              <img src="http://d2xfsikitl0nz3.cloudfront.net/http%3A%2F%2Fw3.legis.state.ak.us%2Fimages%2Fhouse%2FAUS.jpg/60/60" alt="" />
            </div>
            <h2>Alan Austerman</h2>
            <div class="person-info">
              <span class="jurisdiction">Representative, District 35, Republican</span>
            </div>
            <span class="selected icon-ok-sign"></span>
          </li>
          <% end %>
        </ol>
      </fieldset>
      
    </form>
  </article>

  <%= render partial: 'progress', locals: { question: @question, person: @person, step: @step } %>
</section>
