<%# render 'shared/navigation' %>

<section class="question">
  <article>
    <header>
      <h1 class="action">Your Profile</h1>
    </header>
    <form action="<#= preview_questions_path(@jurisdiction.abbreviation) #>" method="get" accept-charset="utf-8"><%# @todo make into a proper form %>
      <label for="question">Personal info
        <span class="details">Tell us a little bit about yourself!</span>
      </label>
      
      <fieldset>
        <label for="firstname" class="lesser">First Name</label>
        <input type="text" name="firstname" id="firstname" placeholder="John" />

        <label for="lastname" class="lesser">Last Name</label>
        <input type="text" name="lastname" id="lastname" placeholder="Doe" />
      
        <label for="username" class="lesser">Username</label>
        <input type="text" name="username" id="username" placeholder="DustyCode1992" />
      
        <label for="email" class="lesser">Email</label>
        <input type="text" name="email" id="email" placeholder="john.doe@gmail.com" />
        
        <label for="password1" class="lesser">Password</label>
        <input type="password" name="password1" id="password1" placeholder="" />
        
        <label for="password2" class="lesser">Password Confirmation</label>
        <input type="password" name="password2" id="password2" placeholder="" />
      </fieldset>
    </form>
  </article>
  <%= render partial: 'progress' %>
</section>
