---
http_interactions:
- request:
    method: get
    uri: http://api.votesmart.org/Officials.getByOfficeState?key=&o=JSON&officeId=6&stateId=NA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"candidateList":{"generalInfo":{"title":"Project Vote Smart - Search
        Candidates","linkBack":"http:\/\/votesmart.org\/"},"candidate":[{"candidateId":"15691","firstName":"Lamar","nickName":"","middleName":"","preferredName":"Lamar","lastName":"Alexander","suffix":"","title":"Senator","ballotName":"","electionParties":"","electionStatus":"","electionStage":"","electionDistrictId":"","electionDistrictName":"","electionOffice":"","electionOfficeId":"","electionStateId":"","electionOfficeTypeId":"","electionYear":"","electionSpecial":"","electionDate":"","officeParties":"Republican","officeStatus":"active","officeDistrictId":"20533","officeDistrictName":"Sr","officeStateId":"TN","officeId":"6","officeName":"U.S.
        Senate","officeTypeId":"C","runningMateId":"","runningMateName":""},{"candidateId":"42352","firstName":"Kelly","nickName":"","middleName":"A.","preferredName":"Kelly","lastName":"Ayotte","suffix":"","title":"Senator","ballotName":"","electionParties":"","electionStatus":"","electionStage":"","electionDistrictId":"","electionDistrictName":"","electionOffice":"","electionOfficeId":"","electionStateId":"","electionOfficeTypeId":"","electionYear":"","electionSpecial":"","electionDate":"","officeParties":"Republican","officeStatus":"active","officeDistrictId":"20[...]
