---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=2227%20Paine%20Turnpike%20South,%20Berlin,%20VT&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_components\" :
        [\n            {\n               \"long_name\" : \"2227\",\n               \"short_name\"
        : \"2227\",\n               \"types\" : [ \"street_number\" ]\n            },\n
        \           {\n               \"long_name\" : \"Paine Turnpike South\",\n
        \              \"short_name\" : \"Paine Turnpike S\",\n               \"types\"
        : [ \"route\" ]\n            },\n            {\n               \"long_name\"
        : \"Berlin\",\n               \"short_name\" : \"Berlin\",\n               \"types\"
        : [ \"locality\", \"political\" ]\n            },\n            {\n               \"long_name\"
        : \"Washington\",\n               \"short_name\" : \"Washington\",\n               \"types\"
        : [ \"administrative_area_level_2\", \"political\" ]\n            },\n            {\n
        \              \"long_name\" : \"Vermont\",\n               \"short_name\"
        : \"VT\",\n               \"types\" : [ \"administrative_area_level_1\", \"political\"
        ]\n            },\n            {\n               \"long_name\" : \"United
        States\",\n               \"short_name\" : \"US\",\n               \"types\"
        : [ \"country\", \"political\" ]\n            },\n            {\n               \"long_name\"
        : \"05602\",\n               \"short_name\" : \"05602\",\n               \"types\"
        : [ \"postal_code\" ]\n            }\n         ],\n         \"formatted_address\"
        : \"2227 Paine Turnpike South, Berlin, VT 05602, USA\",\n         \"geometry\"
        : {\n            \"bounds\" : {\n               \"northeast\" : {\n                  \"lat\"
        : 44.19314960,\n                  \"lng\" : -72.58242439999999\n               },\n
        \              \"southwest\" : {\n                  \"lat\" : 44.19314780000001,\n
        \                 \"lng\" : -72.58244270\n               }\n            },\n
        \           \"location\" : {\n               \"lat\" : 44.19314960,\n               \"lng\"
        : -72.58244270\n            },\n            \"location_type\" : \"RANGE_INTERPOLATED\",\n
        \           \"viewport\" : {\n               \"northeast\" : {\n                  \"lat\"
        : 44.19449768029150,\n                  \"lng\" : -72.58108456970849\n               },\n
        \              \"southwest\" : {\n                  \"lat\" : 44.19179971970851,\n
        \                 \"lng\" : -72.58378253029151\n               }\n            }\n
        \        },\n         \"types\" : [ \"street_address\" ]\n      }\n   ],\n
        \  \"status\" : \"OK\"\n}\n"
  recorded_at: Wed, 10 Jul 2013 04:04:17 GMT
- request:
    method: get
    uri: http://congress.api.sunlightfoundation.com/legislators/locate?apikey=&fields=bioguide_id&latitude=44.1931496&longitude=-72.5824427
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: US-ASCII
      string: ! '{"results":[{"bioguide_id":"W000800"},{"bioguide_id":"L000174"},{"bioguide_id":"S000033"}],"count":3,"page":{"count":3,"per_page":20,"page":1}}'
  recorded_at: Wed, 10 Jul 2013 04:04:18 GMT
recorded_with: VCR 2.3.0
