<section>
  <% if address.type? %>
  <header>
    <%=t address.type, default: address.type %>
  </header>
  <% end %>
  <% if address.voice? %>
  <p>Phone: <%= address.voice %></p>
  <% end %>
  <% if address.fax? %>
  <p>Fax: <%= address.fax %></p>
  <% end %>
  <% if address.address? %>
  <%= simple_format address.address %>
  <% end %>
</section>
