<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Thank you for posting your question to AskThem, <%= @user.name %></h1>
    <p>
      Here's a permalink to your question, which you can share over email and social media:
    </p>
    <p>
    ... remember to circulate your question to reach the signature threshold, and we'll help you push for a public response.
        For more info about how to gather support for your question, please visit our FAQ:
        [FAQ Link]
    </p>
    <p>
        Thank you,
        [contact info]
    </p>
  </body>
</html>
