<section class="questions related_focus">
  <ol>
    <% 5.times do %>
    <li>
      <div class="question_content">
        <%= link_to 'Why have this thing for act for what? <span class="icon-angle-right view"></span>'.html_safe, '/questions/show', class: 'title' %>
        <p>Lorem ipsum dolor sit amet, adipisicing elit, sed do  tempor incididunt ut labore et dolore magna aliqua sed do eiusmod tempor  ut&hellip; <span class="context">&rarr; in Pennsylvania Bills</span></p>
        <span class="target">
          <%= link_to image_tag('http://lorempixel.com/40/40/people/', size: '20x20', alt: '') + 'Steve T', '#' %>
          <span class="to">&rarr;</span>
          <%= link_to cdn_image_tag(@person.image, size: '20x20', alt: '', class: 'person_photo') + @person.name, '#', class: 'recipient' %>
        </span>
      </div>
      <ul class="activity">
        <li><%= link_to '25 Signatures', '#', class: 'support'%></li>
      </ul>
      <a href="#" class="sign_on">Sign On</a>
      <div class="clear"></div>
    </li>
    <% end %>
  </ol>
</section>
