---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=05602&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.5
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_components\" :
        [\n            {\n               \"long_name\" : \"05602\",\n               \"short_name\"
        : \"05602\",\n               \"types\" : [ \"postal_code\" ]\n            },\n
        \           {\n               \"long_name\" : \"Montpelier\",\n               \"short_name\"
        : \"Montpelier\",\n               \"types\" : [ \"locality\", \"political\"
        ]\n            },\n            {\n               \"long_name\" : \"Vermont\",\n
        \              \"short_name\" : \"VT\",\n               \"types\" : [ \"administrative_area_level_1\",
        \"political\" ]\n            },\n            {\n               \"long_name\"
        : \"United States\",\n               \"short_name\" : \"US\",\n               \"types\"
        : [ \"country\", \"political\" ]\n            }\n         ],\n         \"formatted_address\"
        : \"Montpelier, VT 05602, USA\",\n         \"geometry\" : {\n            \"bounds\"
        : {\n               \"northeast\" : {\n                  \"lat\" : 44.398224,\n
        \                 \"lng\" : -72.501317\n               },\n               \"southwest\"
        : {\n                  \"lat\" : 44.15941,\n                  \"lng\" : -72.731387\n
        \              }\n            },\n            \"location\" : {\n               \"lat\"
        : 44.28092729999999,\n               \"lng\" : -72.61950759999999\n            },\n
        \           \"location_type\" : \"APPROXIMATE\",\n            \"viewport\"
        : {\n               \"northeast\" : {\n                  \"lat\" : 44.398224,\n
        \                 \"lng\" : -72.501317\n               },\n               \"southwest\"
        : {\n                  \"lat\" : 44.15941,\n                  \"lng\" : -72.731387\n
        \              }\n            }\n         },\n         \"place_id\" : \"ChIJ6YR46D-ntUwRPWUt-gs1P54\",\n
        \        \"postcode_localities\" : [ \"Berlin\", \"Middlesex\", \"Montpelier\"
        ],\n         \"types\" : [ \"postal_code\" ]\n      }\n   ],\n   \"status\"
        : \"OK\"\n}\n"
  recorded_at: Fri, 10 Apr 2015 22:51:18 GMT
recorded_with: VCR 2.9.0
