<div class="blurb-display">
  <div class="emph">
    <div class="blurb-headline">
      <%= blurb.headline -%>
    </div>
    <div class="avatar">
      <%- if blurb.avatar_url? %>
        <%= cdn_image_tag(blurb.avatar_url, size: "60x60", alt: "") %>
      <%- end %>
    </div>
    <div class="blurb-body">
      <%= raw(blurb.body) -%>
    </div>
  </div>
</div>
