<div class="blurb-display">
  <div class="emph">
    <div class="blurb-headline">
      <%= blurb.headline -%>
    </div>
    <div class="blurb-body">
      <%= raw(blurb.body) -%>
    </div>
  </div>
</div>
