---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=148%20Lafayette,%20NY,%20NY&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_components\" :
        [\n            {\n               \"long_name\" : \"148\",\n               \"short_name\"
        : \"148\",\n               \"types\" : [ \"street_number\" ]\n            },\n
        \           {\n               \"long_name\" : \"Lafayette Street\",\n               \"short_name\"
        : \"Lafayette St\",\n               \"types\" : [ \"route\" ]\n            },\n
        \           {\n               \"long_name\" : \"Lower Manhattan\",\n               \"short_name\"
        : \"Lower Manhattan\",\n               \"types\" : [ \"neighborhood\", \"political\"
        ]\n            },\n            {\n               \"long_n[...]
- request:
    method: get
    uri: http://openstates.org/api/v1/legislators/geo/?apikey=&fields=id&lat=40.7195898&long=-73.9998334
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '[{"district": "26", "chamber": "upper", "state": "ny", "boundary_id":
        "sldu/ny-26", "id": "NYL000057"}, {"district": "65", "chamber": "lower", "state":
        "ny", "boundary_id": "sldl/ny-65", "id": "NYL000194"}]'
  recorded_at: Wed, 14 Aug 2013 04:10:18 GMT
recorded_with: VCR 2.3.0
