<section class="questions related_focus">
  <% if @questions.any? %>
    <ol>
      <%= render @questions %>
    </ol>
  <% else %>
  <div class="notif info">
    <h3>User hasn't asked any questions yet!</h3>
  </div>
  <% end %>
</section>
