<section class="questions related_focus">
  <% if @questions.any? %>
    <ol>
      <%= render @questions %>
    </ol>
  <% else %>
  <div class="notif info">
    <h3>User hasn't asked any questions yet!</h3>
  </div>
  <% end %>

  <%= paginate @questions, outer_window: 1, params: { format: nil }, replace: ".related_focus", scroll: '.related_wrap' %>
</section>
