<section class="static">
  <h1>Forgot your password?</h1>
  <div class="related_data">
    <div class="devise_form">
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: {id: 'new_password'}) do |f| %>
        <%= devise_error_messages! %>
        <%= f.input :email %>
        <%= f.button :submit, 'Send me reset password instructions', class: 'btn cta-pill' %>
      <% end %>
    </div>
  </div>
<section>
