---
http_interactions:
- request:
    method: get
    uri: http://openstates.org/api/v1/metadata/?apikey=&fields=abbreviation,capital_timezone,chambers,feature_flags,latest_csv,latest_csv_url,latest_json_date,latest_json_url,latest_update,legislature_name,legislature_url,name,session_details,terms
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '[{"lower_chamber_name": "House", "lower_chamber_title": "Representative",
        "latest_json_url": "http://static.openstates.org/downloads/2013-05-09-al-json.zip",
        "terms": [{"end_year": 2014, "start_year": 2011, "name": "2011-2014", "sessions":
        ["2011rs", "2012rs", "First Special Session 2012", "2013rs"]}], "name": "Alabama",
        "latest_csv_url": "http://static.openstates.org/downloads/2013-07-01-al-csv.zip",
        "latest_json_date": "2013-05-09 05:11:54", "abbreviation": "al", "latest_update":
        "2013-05-30 16:13:25", "upper_chamber_title": "Senator", "upper_chamber_name":
        "Senate", "chambers": {"upper": {"name": "Senate", "title": "Senator"}, "lower":
        {"name": "House", "title": "Representative"}}, "id": "al", "session_details":
        {"First Special Session 2012": {"type": "special", "display_name": "First
        Special Session 2012", "internal_id": "1060"}, "2011rs": {"type": "primary",
        "display_name": "2011 Regular Session", "internal_id": "1058"}, "2012rs":
        {"type": "primary", "display_name": "2012 Regular Session", "internal_id":
        "1059"}, "2013rs": {"type": "primary", "display_name": "2013 Regular Session",
        "internal_id": "1061"}}, "legislature_name": "Alabama Legislature", "legislature_url":
        "http://www.legislature.state.al.us/", "feature_flags": ["subjects", "influenceexplorer"]},
        {"lower_chamber_name": "House", "lower_chamber_title": "Representative", "latest_json_url":
        "http://static.openstates.org/downloads/2013-07-01-ak-json.zip", "terms":
        [{"end_year": 2012, "start_year": 2011, "name": "27", "sessions": ["27"]},
        {"end_year": 2014, "start_year": 2013, "name": "28", "sessions": ["28"]}],
        "name": "Alaska", "latest_csv_url": "http://static.openstates.org/downloads/2013-07-01-ak-csv.zip",
       [...]
