<%- if ENV["BANNER_HTML"].present? && session[:banner_viewed].blank? -%>
  <div class="banner">
    <div class="banner-content">
      <a href="#" class="banner-close"><i class="icon-remove"></i></a>
      <div class="banner-header">
        <%= raw(ENV["BANNER_HTML"]) %>
      </div>
    </div>
  </div>
  <% session[:banner_viewed] = true %>
<%- end %>
