<div class="actions">
  <h4>Your Question</h4>
  <div class="row">
    <div class="question_progress">
      <div class="progress_filler" style="width: 0%;"> </div>
    </div>
    <span class="question_progress_count">
      <strong>0</strong> out of <strong>500</strong> Signatures
    </span>
  </div>  
  <div class="row">
    <ul class="recipient">
      <li>
        <div class="avatar">
          <img src="http://lorempixel.com/130/130/" alt="" />
        </div>
        <div class="person-info">
          <h2>Ron Paul</h2>
          <span class="jurisdiction">R. - 6th House District</span>
        </div>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="question_preview">
      <!--
        If nothing:
      -->
      <h5 class="empty">Nothing yet&hellip;</h5>
      
      <!--
        When content is added:
      -->
      <h5>Why is the sky blue?</h5>
      <p>Pandas typically eat bamboo because it is delicious and good for them. By eating...</p>
    </div>
  </div>
  <!--
    If issue is selected, otherwise add "last" class to .row above
  -->
  <div class="row last">
    <div class="question_issue">
      <span>Issue: <strong>Education</strong></span>
    </div>
  </div>
  <a href="#" class="cta_pill">Next <span class="icon-caret-right"></span></a>
  <span class="count">1 of 3</span>
</div>