<li><%= link_to 'Your Profile', '#' %><%# @todo %></li>
<li><%= link_to 'Dashboard', '#' %><%# @todo %></li>
<li><%= link_to 'Steve T <span class="icon-angle-down"></span>'.html_safe, '#' %><%# @todo %></li>
