<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Thank you for requesting your account for verification by AskThem, <%= @user.given_name %></h1>

    <p>Unfortunately we could not verify your identity at this time.</p>

    <p>
        Thank you,
        The AskThem Team
    </p>
  </body>
</html>
