<section class="questions related_focus">
  <% if @questions.any? %>
  <ol>
    <%= render @questions %>
  </ol>
  <% else %>
  <div class="notif info">
    <!-- <h3>Nobody has asked any questions yet!</h3>
    <p>Do you want to get the ball rolling?</p>
    <%# link_to 'Ask about this Bill', new_question_path(@jurisdiction.abbreviation), class: 'cta-pill' %> -->
  </div>
  <% end %>
</section>
