<%= render 'shared/navigation' %>

<section class="bills listings">
  <div class="filters">
    <span class="info">Filter by:</span><%# @todo DM are these really the filters we're using? %>
    <a href="#" class="radio_button filter inactive"><span class="use"></span>Date</a>

    <a href="#" class="radio_button filter inactive"><span class="use"></span>Recent Actions</a>

    <a href="#" class="radio_button filter inactive"><span class="use"></span>Most Viewed</a>

    <a href="#" class="radio_button filter inactive"><span class="use"></span>Key Votes</a>

    <div class="search"><%# @todo DM full-text search within state? %>
      <input type="text" name="" id="" placeholder="Search state">
      <input type="submit" value="">
    </div>
  </div>

  <%= render partial: 'page' %>
</section>
