<div class="answered-question">
  <div class="emph">
    <div class="avatar">
      <% if featured.question.person.image? %>
        <%= cdn_image_tag(featured.question.person.image, size: "80x80", alt: "") %>
      <% end %>
    </div>
    <div class="answered-question-text">

      <%= link_to "Answered Question!", question_path(featured.question.state, featured.question, anchor: "answer") %>

      From

      <%= link_to "#{featured.question.person.political_position_title + ' '}#{featured.question.person.name}",
      person_path(featured.question.person.state, featured.question.person),
      anchor: "answer" %>
    </div>
    <p class="answered-question-subtext">to "<%= featured.question.title -%>"</p>
  </div>
</div>
