---
http_interactions:
- request:
    method: get
    uri: http://freegeoip.net/json/161.185.30.156
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"ip":"161.185.30.156","country_code":"US","country_name":"United
        States","region_code":"NY","region_name":"New York","city":"Brooklyn","zipcode":"11201","latitude":40.6944,"longitude":-73.9906,"metro_code":"501","areacode":"718"}'
  recorded_at: Mon, 09 Sep 2013 09:09:41 GMT
recorded_with: VCR 2.5.0
