<div id="page">
  <table class="meetings">
    <thead>
      <tr>
        <th>Date</th>
        <th>Name</th>
        <th>Agenda</th>
        <th>Minutes</th>
      </tr>
    </thead>
    <tbody>
      <%= render @meetings %>
    </tbody>
  </table>

  <%= paginate @meetings, outer_window: 1, params: {format: nil}, replace: '#page', scroll: '.nav_extras' %>
</div>
