<div id="page">
  <% if @meetings.length > 0 %>
    <div class="meetings">
      <div class="meeting-row">
        <h2 class="meeting-date">Date</h2>
        <h2 class="meeting-name">Name</h2>
        <h2 class="meeting-agenda">Agenda</h2>
        <h2 class="meeting-minutes">Minutes</h2>
      </div>
      <%= render @meetings %>
    </div>
    <%= paginate @meetings, outer_window: 1, params: {format: nil}, replace: '#page', scroll: '.nav_extras' %>
  <% else %>
    <p>No meetings found</p>
  <% end %>
</div>
