<section class="static">
  <h1>About AskThem</h1>
  <div class="related_data">
    <p>AskThem is a free, open-source, non-profit and non-partisan platform for questions and petitions with public figures. AskThem is a project of the Participatory Politics Foundation, a 501(c)3 non-profit organization with a mission to increase civic engagement. Previously, PPF created OpenCongress.org, the most-visited non-profit website in the world for tracking the U.S. Congress.</p>
	<br><br>
	<p>AskThem's development was supported by a charitable grant from the Knight Foundation's Tech For Engagement initiative. AskThem offers open data for the public benefit. We seek to change the civic culture to ask more, and better, questions of people in power. We are now seeking charitable funding support to continue AskThem's development - help us bring good questions to public figures nationwide. 
<br><br>
	<p>AskThem is a platform for open public dialogue and greater public accountability with elected officials and any public figure with a verified Twitter account. This launch version allows anyone to simply enter a street address and see their elected officials at the federal & state levels of government - and in most major U.S. cities, to see their municipal elected officials as well. Coming soon, our data sources will allow us to display thousands more mayors nationwide and tens of thousands more city council members nationwide.</p>
	<p>In addition, AskThem allows anyone to ask a question to any elected official nationwide - find your question targets in federal or state government from our <a href="askthem.io/map">national map</a> page. Once created, questions circulate (like e-petitions) over email and social media to reach a signature threshold set by AskThem (and continually adjusted based on feedback). When the question reaches its signature threshold, it is briefly reviewed by AskThem staff, and then delivered to its target over email and social media, with a request to respond publicly on our non-profit platform. Any elected official may sign up to become a verified responder on AskThem, free of charge. The responsibilities are simply to respond to one or two popular questions per month that reach the signature threshold - in some cases, with at least half of signatures coming from constituents.</p>
	<br><br>
	<p>AskThem developers include: PPF, Open North, Civic Agency, and DataMade LLC. AskThem's Advisory Council oversees our non-profit mission to support a community ethos of good questions. More info below on our primary data partners, Google Civic Information API and community-generated Democracy Map API, as well as AskThem's uniquely-aggregated data in more U.S. municipalities. Additional data provided by the Sunlight Foundation's Open States & Open Civic Data projects.</p>
	<br><br>
	<p>AskThem's non-profit Advisory Council includes: Tiffiniy Cheng, President of PPF & Co-director, Fight For the Future; Nick Grossman, of MIT Media Lab & Union Square Ventures; Nicco Mele, of the Harvard University Kennedy School of Government; Prof. Zephyr Teachout, of Fordham University Law School; Micah Sifry, of TechPresident; Tom Steinberg, of mySociety (UK); Anthea Watson-Strong, of Google Civic Information; Susanna Vila, of Engine Room Advocacy; and more to be announced soon.</p>
	<br><br>
	<p>Terms of Service & Privacy Policy. Legal.</p>
	<br><br>
    <p>For more info, visit our FAQ & blog, and get in touch. Make a tax-exempt donation to PPF to support AskThem and help us continue our work in online public dialogue.</p>
  </div>
</section>
