<section class="static">
  <h1>Candidates on AskThem</h1>
  <div class="related_data">
    <p>Crowdsource your questions to candidates ahead of the midterm elections, and AskThem will deliver them for a public response.</p>

    <p>Enter your zip code and click the AskThem button - then you'll see a view of your federal candidates and current elected officials. Click "State" to see your gubernatorial candidates and more.</p>

    <div style="float:left; margin-left: 7%; margin-bottom: 1em;">
      <script class="at-widget-loader" src="http://www.askthem.io/widgets/zip/widget.js" data-tag-id="at-zip-with-no-presets" type="text/javascript" async=true></script>
      <div style="display: none;" data-tag-id="at-zip-with-no-presets" class="at-widget-attributes">
        <div class="headline">Find your 2014 candidates and elected officials</div>
        <div class="question-summary"></div>
        <div class="question-body"></div>
        <div class="partner-name"></div>
        <div class="partner-url"></div>
        <div class="partner-logo"></div>
      </div>
    </div>

    <div style="clear: both;"></div>

	  <p>Click "State" above to see your gubernatorial candidates. For a full list of candidates by state, please visit <a href="http://www.participatorypolitics.org/crowdsource-questions-to-candidates-during-election-season">here</a>. To browse elected officials currently in-office by state, click "See all states" at the top of the page.</p>

	  <p>If you are unable to find an official or candidate, let us know and we will be sure their name is added.  Any problems or comments, email us: <%= mail_to "maryam@askthem.io" -%>.</p>

	  <p>We're here to help and will get back to you right away to help your question succeed.</p>
  </div>
</section>
