<section class="dashboard">
  <section class="dashboard">
    <h1 class="subject">Dashboard</h1>
  </section>
  <div class="related_data">
    <nav>
      <ul class="related_nav">
        <li><a href="#" class="active">12 Questions</a></li>
        <li><a href="#">300 Signatures</a></li>
      </ul>
    </nav>
    <div class="related_content">
      <section class="related_focus people">
        <ul>
          <% 5.times do %>
          <li>
            <h2>Madre Padre</h2>
            <div class="avatar"><img src="http://lorempixel.com/200/200/" alt="" /></div>
            <span class="jurisdiction">Representative, District 35, Republican</span>
            <span class="stats">
              <span>0 Questions</span>
              <span>0 Answers</span>
            </span>
            <a href="#" class="see_questions">See questions for this person &rarr;</a>
          </li>
          <% end %>
        </ul>
      </section>
    </div>
  </div>
</section>
