<section class="static">
  <h1>FAQ for users</h1>

<h3>Is AskThem free?<h3>
	<p>Free of charge, open-source, non-profit, non-partisan, with open data for civic engagement.</p>
	
	<h3>How does AskThem work?</h3>
<p>Question and petition public figures. Get signatures to threshold. Share on social media. Push for a public response. Then comment on the response and share more, creating a continual connection with public figures.</p>
		
<h3>Will my question be answered?</h3>
<p>Depends. If threshold, we deliver it publicly over email and social media, and it goes to "need answer" section on AskThem. Some elected officials have opted-in.</p>

<h3>Which elected officials so far have agreed to respond to popular questions on AskThem?</h3>
<p>Updated gallery of participating elected officials and verified Twitter users can be found here. Ask your elected officials at every level of government to participate. It's free and works like a social media service like Twitter. Elected officials and verified Twitter users simply agree to answer one or two questions per month that reach the signature threshold. They may choose to answer as many as they like, whether or not they reach the signature threshold, there's no limit and no cost. Of course, not every question that reaches the signature threshold will receive a public response on AskThem from its target. But all questions from confirmed registered users on AskThem are displayed publicly, viewable on the site and shareable on social media to gather more support.</h3>
	
<h3>How are questions moderated?</h3>
<p>Very lightly- by our terms of service, any question can be displayed, barring certain conditions. Flagging, curating good question community ethos through Advisory Council. "Good questions' project. Previous Q&A efforts & engagement platforms provide examples.</p>
	
<h3>What elected officials can visitors target with questions and petitions?<h3>
	
	<p>For the first time in a free & open-source website, AskThem has brought together over 10,000 elected officials, with more on the way, as follows:</p> 
		<ul>
			<li>All 100 U.S. senators and 438 U.S. representatives (from 435 Congressional districts, plus at least three delegates)</li>
			<li>All 50 U.S. state governors</li>
			<li>Approx. 7,383 U.S. state legislators in all 50 states</li>
			<li>Mayors of the top 60 U.S. cities by population</li>
			<li>Including all city council members in the Knight Foundation communities of Philadelphia, PA & San Jose, CA, with more Knight cities to come shortly</li>
			<li>All city council members in Chicago, IL, with more major cities to come shortly</li>
		</ul>	
			
	<p>Coming soon in 2014, we will make it possible to see even more elected officials simply by entering a street address - the most of any open-source website:</p>
		<ul>
			<li>1,214 U.S. mayors, covering virtually every mayor across the country.</li>
			<li>Tens of thousands of county elected officials, covering every county government across the U.S.</li>
			<li>Thousands more city council members in the top 60 U.S. cities</li>
			<li>Coming soon, tends of thousands of municipal elected officials (city council members) in the states of: CA, FL, MA, OR, PA, TX and WA</li>
			<li>... and any verified Twitter account. This includes official Twitter accounts of elected officials, but also public figures such as spokespeople, companies, media personalities, and celebrities of all types.</li>
		</ul>
		
		<p>... charitable donations to AskThem can help us expand our open questions-and-answers platform faster to all of the above cities and states. Help us grow!</p>
		
<h3>What are the signature thresholds for different jurisdictions of elected officials? How were they determined by AskThem?</h3>	
	
	<p>First, we'll continually adjust signature thresholds - for a class of elected officials (e.g. mayors) or for an individual target - based on user feedback and site analytics. This is a very dynamic process and we'll be blogging openly about our findings & user activity. For example, if a given level of elected official is regularly receiving more than five questions per month that reach the signature threshold, we will examine raising it. We're interested in public input & elected official feedback on this question, and on the actual live data.</p>
	
	<p>Second, any individual elected official who is a verified responder in AskThem can request of our team to customize his or her signature threshold (within reason). So for an elected official who agrees to respond publicly to one or two questions per month that reach the threshold (and with at least half of the signatures-to-threshold coming from constituents), she may choose to raise her individual threshold on AskThem, or test different goals.</p>
	
	<p>Third, our medium-term goal is to set a ballpark of signature thresholds at 0.1% of a jurisdiction's population, as determined by the U.S. census and open data. This will not necessarily be the final threshold, or binding, but it offers a baseline, and will enable us to experiment with more-precise calculations. For example, if the 2012 population of Chicago is 2.175 million people, the signature threshold for the mayor of Chicago may start at 0.1% of that, viz. 2,175 signatures, and be adjusted from there according to site analytics. If the average size of a U.S. Congressional district is 710,767 people, then at least 710 signatures may be the required threshold for a U.S. representative. We have not yet fully implemented such granular calculations, but the opportunity is tremendous for open linked data & future iterations.</p>
	
	<p>Currently, then, the default signature thresholds for different jurisdictions of public figures on AskThem are as follows:</p>			
		<ul>
			<li>Federal member of Congress (U.S. senator or representative): 5,000</li>
			<li>U.S. state governor: 200</li>
			<li>U.S. state legislator (state senators and assembly members):100</li>
			<li>U.S. major city mayor: 100</li>
			<li>Verified Twitter account: 500</li>
			<li>Elected official w/ unknown jurisdiction: 500</li>
		</ul>
			
		
<h3>What Twitter accounts can visitors target with questions and petitions?</h3>

<p>Any Twitter account with a verified blue check. Non-verified Twitter accounts cannot be asked questions through AskThem at this time, but soon, we plan to allow non-verified Twitter users to opt-in.</p>
	
<h3>How do I know my question has been delivered or answered?</h3>

<p>We'll send you email updates.</p>	
						
	<h1>AskThem- Frequently Asked Questions For Elected Officials</h1>
  <div class="related_data">
    <h3>Is AskThem Free?</h3>
    <p>Yes, there's no cost to you. AskThem is completely free, not-for-profit, and non-partisan.  We are an open source project and our data is available for the public benefit.</p>

    <h3>How is AskThem funded and how is it affiliated?</h3>
    <p>AskThem is a project of the non-profit <a href="http://participatorypolitics.org">Participatory Politics Foundation</a>, creators of OpenCongress.org, a leading government transparency website with 26 million Web visits and 300,000 registered users. AskThem is supported by a charitable grant from the Knight Foundation's <a hre="http://www.knightfoundation.org/funding-initiatives/tech-engagement/">Tech For Engagement</a> initiative.</p>

    <h3>What is the Knight Foundation and are they politically affiliated?</h3>
    <p>The Knight Foundation is a private, non-profit foundation that funds programs that use technology to foster engagement. The foundation is not affiliated with any political party-but instead supports individuals as agents for engagement-with a focus on youth leadership, social entrepreneurs and local institutions. The foundation’s funding was primarily received from newspaper publications as well as from personal gifts by John and James Knight, and many private donors.</p>
    <p>The foundation gives away over $80 million a year, much of which goes to projects which increase open government, open records and accountability.</p>
    <p>For more info on Knight-Funded projects click here:</p>
    <ul>
      <li><a href="http://www.knightfoundation.org/what-we-fund/">http://www.knightfoundation.org/what-we-fund/</a></li>
      <li><a href="http://www.knightfoundation.org/about/">http://www.knightfoundation.org/about/</a></li>
    </ul>

    <h3>What does it mean to become a verified responder?</h3>
    <p>By becoming a verified responder, you’ll be able to answer the most popular questions voted on by users. You also agree that AskThem can include your planned participation in public statements and press releases about our upcoming launch &amp; user community. Your profile page on AskThem will receive a "verified" check mark and you'll be able to regularly contact by email all of your constituents who ask you questions.</p>

    <h3>How many questions will I be required to answer on a regular basis?</h3>
    <p>You only answer questions that pass your vote threshold (for the average state rep. that threshold will start at .1% of your district population and will fluctuate to ensure you get no more than 3 questions per month--also, at least half of the voters must be your constituents).</p>

    <h3>I’m concerned about the amount of emails I will receive once I sign-up to be a verified responder/I already respond to emails and do social media/I don’t want to answer unfair or harassing questions:</h3>
    <p>There are two major differences between the way you field queries from your constituents currently:</p>
    <ul>
      <li>AskThem is designed to help reduce your email traffic. We hope that giving public answers to some of the most frequently asked questions will result in your having to answer them less frequently over email.  Also, every question has to both reach your total vote threshold (in your case that might be 100 votes for one question), and at least half of the questioners must be your constituents, individuals with an address in your district.  So, you certainly won't be answering any questions posed solely by non-constituents.</li>
      <li>Ask Them is designed to engage constituents you usually do NOT hear from.  When someone asks a question, they will encourage their friends and family to vote that question up past your vote threshold.  We harness the power of social media to get people involved who might not normally initiate contact with you. We hope that this will allow you to spread your message to constituents who might not normally listen, and to discover new supporters on your issues.</li>
    </ul>
    <p><em>Harassing Questions: If you believe a question is inappropriate, illegal, harassing or unnecessarily personal, let us know and we will investigate.  The user may be banned from the site and the question may be removed.</em></p>

    <h3>Will AskThem filter questions so that I only receive them from my constituents?</h3>
    <p>Let's say your threshold is 100 votes for a question.  Fifty of those votes must come from constituents.  You may get 500 votes from people out of state, but the question doesn't pass the threshold until half of the threshold number comes from constituents.  Also, we adjust your threshold so you never get more than three questions per month.</p>

    <h3>Do I have to use my official legislator email address?</h3>
    <p>Yes, as of this writing, because in order to be a verified responder on AskThem, PPF staff must verify your control of your official .gov email address. In the future, we will develop simple features to change the email address address used by a verified responder.</p>

    <h3>If someone submits a question, and it does not reach the .1% threshold, will I ever know they submitted a question?</h3>
    <p>You can be notified of every question that gets asked and you can answer as many or as few of the questions below the threshold as you like.  For instance, you may get a question from outside your district and decide not to answer it until constituents have signed on to it.  You might also promise to answer a question, but encourage your constituents to share the question on social media and push their friends to vote it up.</p>
    <p>Once we set your threshold (it starts at .01% of the population of your district but may get adjusted in part to ensure you get no more than three questions that reach the threshold per month), half of the votes for a question toward that threshold must come from constituents.</p>

    <h3>How does the system identify the geographic location?</h3>
    <p>Initially we'll ask users to give their name and street address.  If you suspect that someone is gaming the system to try to get you to respond, we'll investigate and try to confirm that the person lives where they claim they do.  If they do not, we'll disqualify them.  Eventually we'll move to a system that checks GPS location where someone registers and that also matches them to an address in your district.</p>

    <h3>How can I use the site to broadcast my signature issues/rally attention for local issues?</h3>
    <p>You can email your supporters and ask them to post questions you’d like to answer.  We strongly encourage this practice as it allows elected officials to communicate the positive work on which they focus.  You might also request that constituents who regularly contact you use the site.  And you might request that issue-based organizations post questions you’d like to answer.  You might even advertise your participation to local media and blogs.</p>

    <h3>Do you have to be a U.S. Citizen to participate?</h3>
    <p>AskThem is available to all US residents, including non U.S. citizens and unregistered voters, and all elected officials.</p>

    <h3>Whom can I contact for more information?</h3>
    <p>Feel free to give us a call or send us an email with any comments or questions.</p>
    <ul>
      <li><strong>Josh Segall</strong>, <em>Partnerships Director</em>: <%= mail_to "josh@askthem.io" -%>, 334-328-9184</li>
      <li><strong>Maryam Gunja</strong>, <em>Community Manager</em>: <%= mail_to "maryam@askthem.io" -%>, 909-518-2617</li>
    </ul>
  </div>
</section>
