<section class="static">
  <h1>AskThem- Frequently Asked Questions For Elected Officials</h1>
  <div class="related_data">
    <h3>Is AskThem Free?</h3>
    <p>Yes, there's no cost to you. AskThem is completely free, not-for-profit, and non-partisan.  We are an open source project and our data is available for the public benefit.</p>

    <h3>How is AskThem funded and how is it affiliated?</h3>
    <p>AskThem is a project of the non-profit <a href="http://participatorypolitics.org">Participatory Politics Foundation</a>, creators of OpenCongress.org, a leading government transparency website with 26 million Web visits and 300,000 registered users. AskThem is supported by a charitable grant from the Knight Foundation's <a hre="http://www.knightfoundation.org/funding-initiatives/tech-engagement/">Tech For Engagement</a> initiative.</p>

    <h3>What is the Knight Foundation and are they politically affiliated?</h3>
    <p>The Knight Foundation is a private, non-profit foundation that funds programs that use technology to foster engagement. The foundation is not affiliated with any political party-but instead supports individuals as agents for engagement-with a focus on youth leadership, social entrepreneurs and local institutions. The foundation’s funding was primarily received from newspaper publications as well as from personal gifts by John and James Knight, and many private donors.</p>
    <p>The foundation gives away over $80 million a year, much of which goes to projects which increase open government, open records and accountability.</p>
    <p>For more info on Knight-Funded projects click here:</p>
    <ul>
      <li><a href="http://www.knightfoundation.org/what-we-fund/">http://www.knightfoundation.org/what-we-fund/</a></li>
      <li><a href="http://www.knightfoundation.org/about/">http://www.knightfoundation.org/about/</a></li>
    </ul>

    <h3>What does it mean to become a verified responder?</h3>
    <p>By becoming a verified responder, you’ll be able to answer the most popular questions voted on by users. You also agree that AskThem can include your planned participation in public statements and press releases about our upcoming launch &amp; user community. Your profile page on AskThem will receive a "verified" check mark and you'll be able to regularly contact by email all of your constituents who ask you questions.</p>

    <h3>How many questions will I be required to answer on a regular basis?</h3>
    <p>You only answer questions that pass your vote threshold (for the average state rep. that threshold will start at .1% of your district population and will fluctuate to ensure you get no more than 3 questions per month--also, at least half of the voters must be your constituents).</p>

    <h3>I’m concerned about the amount of emails I will receive once I sign-up to be a verified responder/I already respond to emails and do social media/I don’t want to answer unfair or harassing questions:</h3>
    <p>There are two major differences between the way you field queries from your constituents currently:</p>
    <ul>
      <li>AskThem is designed to help reduce your email traffic. We hope that giving public answers to some of the most frequently asked questions will result in your having to answer them less frequently over email.  Also, every question has to both reach your total vote threshold (in your case that might be 100 votes for one question), and at least half of the questioners must be your constituents, individuals with an address in your district.  So, you certainly won't be answering any questions posed solely by non-constituents.</li>
      <li>Ask Them is designed to engage constituents you usually do NOT hear from.  When someone asks a question, they will encourage their friends and family to vote that question up past your vote threshold.  We harness the power of social media to get people involved who might not normally initiate contact with you. We hope that this will allow you to spread your message to constituents who might not normally listen, and to discover new supporters on your issues.</li>
    </ul>
    <p><em>Harassing Questions: If you believe a question is inappropriate, illegal, harassing or unnecessarily personal, let us know and we will investigate.  The user may be banned from the site and the question may be removed.</em></p>

    <h3>Will AskThem filter questions so that I only receive them from my constituents?</h3>
    <p>Let's say your threshold is 100 votes for a question.  Fifty of those votes must come from constituents.  You may get 500 votes from people out of state, but the question doesn't pass the threshold until half of the threshold number comes from constituents.  Also, we adjust your threshold so you never get more than three questions per month.</p>

    <h3>Do I have to use my official legislator email address?</h3>
    <p>No, you’re welcome to use the email address of your preference.</p>

    <h3>If someone submits a question, and it does not reach the .1% threshold, will I ever know they submitted a question?</h3>
    <p>You can be notified of every question that gets asked and you can answer as many or as few of the questions below the threshold as you like.  For instance, you may get a question from outside your district and decide not to answer it until constituents have signed on to it.  You might also promise to answer a question, but encourage your constituents to share the question on social media and push their friends to vote it up.</p>
    <p>Once we set your threshold (it starts at .01% of the population of your district but may get adjusted in part to ensure you get no more than three questions that reach the threshold per month), half of the votes for a question toward that threshold must come from constituents.</p>

    <h3>How does the system identify the geographic location?</h3>
    <p>Initially we'll ask users to give their name and street address.  If you suspect that someone is gaming the system to try to get you to respond, we'll investigate and try to confirm that the person lives where they claim they do.  If they do not, we'll disqualify them.  Eventually we'll move to a system that checks GPS location where someone registers and that also matches them to an address in your district.</p>

    <h3>How can I use the site to broadcast my signature issues/rally attention for local issues?</h3>
    <p>You can email your supporters and ask them to post questions you’d like to answer.  We strongly encourage this practice as it allows elected officials to communicate the positive work on which they focus.  You might also request that constituents who regularly contact you use the site.  And you might request that issue-based organizations post questions you’d like to answer.  You might even advertise your participation to local media and blogs.</p>

    <h3>Do you have to be a U.S. Citizen to participate?</h3>
    <p>AskThem is available to all US residents, including non U.S. citizens and unregistered voters, and all elected officials.</p>

    <h3>Whom can I contact for more information?</h3>
    <p>Feel free to give us a call or send us an email with any comments or questions.</p>
    <ul>
      <li><strong>Josh Segall</strong>, <em>Partnerships Director</em>: <%= mail_to "josh@askthem.io" -%>, 334-328-9184</li>
      <li><strong>Maryam Gunja</strong>, <em>Community Manager</em>: <%= mail_to "maryam@askthem.io" -%>, 909-518-2617</li>
    </ul>
  </div>
</section>
