<section class="static">
  <h1>Frequently Asked Questions</h1>
  <div class="related_data">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel dictum leo, vel varius dui. Morbi vel nulla erat. In ac turpis at nisi euismod sagittis. Phasellus congue ligula euismod enim malesuada, eu cursus libero venenatis. Sed sit amet orci et lectus luctus rutrum. Phasellus dignissim enim at hendrerit elementum. Nunc eu dictum sem. Vivamus euismod purus vitae malesuada posuere. Donec eget ipsum lobortis, tincidunt tellus molestie, pellentesque metus. Sed nec odio lorem. Nulla vitae luctus dolor. Cras eget turpis ac leo dignissim venenatis id vel turpis. In vel molestie metus, in hendrerit augue.</p>
    <p>Maecenas viverra pulvinar sollicitudin. Vivamus in pellentesque mi. Integer eu dapibus est, a dignissim nibh. Praesent tempus, velit vel porta condimentum, turpis odio tempus metus, ut cursus lectus lectus sit amet augue. Aliquam viverra diam lacus, vitae luctus augue molestie non. Mauris a velit ut sem commodo pulvinar sit amet pulvinar orci. Donec at est vehicula, feugiat orci in, faucibus metus. Donec aliquam, eros at posuere commodo, ipsum arcu tincidunt risus, in placerat urna ligula eget turpis. Donec non scelerisque nunc, nec volutpat nisl. Morbi vehicula felis nec magna bibendum, non scelerisque lectus placerat. Sed tristique mauris gravida, dictum ligula sit amet, tincidunt enim. Aenean fermentum nibh ut tortor ultrices, a commodo erat eleifend.</p>
  </div>
</section>
