<section>
  <!-- <div class="emph_question">
    <div class="wrap">

    </div>
  </div> -->
  <div class="leftCol">
    <header>
      <h2>Top National Questions</h2>
      <ul>
        <li>1,500 Answers<%# @todo number of Answers %></li>
        <li>26,500 Supporters<%# @todo number of Supporters %></li>
      </ul>
    </header>
    <ul class="popular_questions"><%# @todo Pop question data %>
      <% 3.times do %>
      <li>
        <a href="#" class="question">What will you do to redevelop Cedar Park for our families? </a>
        <div class="person_wrap">
          <div class="row">
            <span class="emph">to</span>
          </div>
          <div class="row">
            <div class="person-info">
              <h4>Cory Atkins</h4>
              <span class="jurisdiction">Rep. of MA</span>
            </div>
          </div>
          <div class="question_stats">
            <span class="support_count">502 Supporters</span>
            <div class="question_progress">
              <div class="progress_filler" style="width: 54%;"></div>
            </div>
          </div>
        </div>
        <a href="#" class="sign_on">Sign On</a>
      </li>
      <% end %>
    </ul>
  </div>
  <div class="rightCol">
    <header>
      <h2>Top Questions Near Boston</h2>
      <ul>
        <li>1,500 Answers<%# @todo number of Answers %></li>
        <li>26,500 Supporters<%# @todo number of Supporters %></li>
      </ul>
    </header>
    <ul class="popular_questions"><%# @todo Pop question data %>
      <% 3.times do %>
      <li>
        <a href="#" class="question">What will you do to redevelop Cedar Park for our families? </a>
        <div class="person_wrap">
          <div class="row">
            <span class="emph">to</span>
          </div>
          <div class="row">
            <div class="person-info">
              <h4>Cory Atkins</h4>
              <span class="jurisdiction">Rep. of MA</span>
            </div>
          </div>
          <div class="question_stats">
            <span class="support_count">502 Supporters</span>
            <div class="question_progress">
              <div class="progress_filler" style="width: 54%;"></div>
            </div>
          </div>
        </div>
        <a href="#" class="sign_on">Sign On</a>
      </li>
      <% end %>
    </ul>
  </div>
  <header>
    <h2>How It Works</h2>
  </header>
  <ol class="how_it_works">
    <li>
      <img src="/assets/how_1@2x.png" alt="" />
      <p><span class="num">1</span>Find your elected officials and ask them a question.</p>
    </li>
    <li>
      <img src="/assets/how_2@2x.png" alt="" />
      <p><span class="num">2</span>Get your family, friends, and neighbors to support it.</p>
    </li>
    <li>
      <img src="/assets/how_3@2x.png" alt="" />
      <p><span class="num">3</span>The elected official's answer will be publicly displayed.</p>
    </li>
  </ol>

  <ul style="display:none;">
    <% @jurisdictions.each do |jurisdiction| %>
      <li>
        <%= link_to jurisdiction['name'], questions_path(jurisdiction.abbreviation) %>
      </li>
    <% end %>
  </ul>
</section>
