<section class="static">
  <h1>AskThem Privacy Policy</h1>
  <div class="related_data">
    <p>AskThem is a project of the Participatory Politics Foundation (“PPF”). At PPF, we take your privacy seriously. Please read the following Privacy Policy (the “Privacy Policy”) in order to learn more about our policies, practices, and procedures regarding the AskThem Website, including the Personally Identifying Information that we may collect from you, and the uses that we may make of your information. This Privacy Policy applies to Askthem.io (hereinafter, the “Website”), which is owned and operated by PPF and its affiliates (“PPF,” “we,” or “us”).  Please note that this Privacy Policy applies only to our online information-gathering and dissemination practices on AskThem.io, and does not apply to any of our practices conducted offline, or to any other websites that are owned or operated by PPF. By using the Website, you indicate that you agree to be bound by the terms of this Privacy Policy. If you do not agree to the terms of this Privacy Policy, please refrain from accessing, or providing any personal information through, the Website. If you have any questions regarding this Privacy Policy, please contact us at [Insert email address or link to Contact Us form].</p>

	<h3>SUMMARY</h3>
	<p>The notifications provided by this Privacy Policy include:</p>
		<ul>
			<li>what Personally Identifying Information we collect from you through our Website</li>
			<li> how the information is used</li>
	   		<li>with whom the information may be shared</li>
			<li>what choices are available to you regarding collection, use and distribution of the information</li>
			<li>the kind of procedures we employ in an effort to hinder the unauthorized access, use or disclosure of information you provide to us</li>
			<li>information related to third-party websites</li>
			<li>how you can learn about changes to our privacy policies, practices and procedures</li>
		</ul>

	<h3>THE INFORMATION WE COLLECT</h3>

	<p>In order to use certain features of the Website, you will be asked to provide certainly Personally Identifying Information, which is defined as any information that could be used to uniquely identify, contact, or locate an individual, or could be used with other sources to uniquely identify a single individual. We may also collect Non-Personally Identifying Information regarding your use of the Website, as described below.</p>

	<p>Registration: You must register with the Website and create an account in order to post a question, or sign on to support a question. During the registration process, you will be asked to provide the following: first name, last name, email, password, street address, state, and five-digit zipcode. The account that you create will be password-protected. It is your obligation to safeguard your password. To update your password, login to your account, click on “Settings” and select “Change Password.”</p>

	<p>The initial setting for all profiles is “Public” (meaning that anyone can view it)  and your profile may be indexed by internet search engines. Profile information may be changed at any time following the directions provided above. Profiles may be deleted at any time by the profile holder through a written request to our <a href="https://askthem.desk.com/">User Support forum</a.>.</p>

	<p>You have complete control over who may see your profile. To edit your privacy settings, login to your account, click on “Settings” and select “Privacy.” Please note, the initial setting for your profile is "Public" (meaning that anyone can view it) and your profile may be indexed by internet search engines; both of these may be changed following the directions provided above.</p> 

	<p>Donations: If you make a donation to PPF through the Website, we will ask you to provide Personally Identifying Information required to process your donation. Any credit card billing information you provide is collected and transferred over the Internet to our secure server using Secure Socket Layer (SSL) technology, a security technology that is intended to protect sensitive information. Any credit card billing information that you provide at the time of donation is used only to process your donation and will not be stored or used for any other purpose.</p>

	<h3>Non-Personal Information We Collect by Automated Means:</h3>

	<p>We automatically log certain non-personally identifying information in order to analyze how users use the Website. We may employ cookies, web beacons, or other online tools to collect aggregate and anonymized standard Internet log information and visitor behavior information, and may employ third-party providers to log and analyze this information. The information collected may include the IP address of your computer, your browser type and operating system, type of mobile device used to access the website (if applicable), entry and exit points for our Website (referring URLS or domains), your location by country, site traffic statistics, and page views. This aggregate information will not be associated with any Personally Identifying Information that you provide, or be used to personally identify you, or correlated to you individually for external purposes. This information may be used to evaluate visitors' use of the Website, to compile aggregate statistical reports on Website activity, and to provide other services relating to Website activity and internet usage, which we may use to improve our Website. Our third-party providers may retain aggregate, anonymized data gathered from the Website.</p>

	<p>You may access the stored data which we have collected from about about you by contacting us at AskThem <a href="https://askthem.desk.com/">User Support forum</a>. If any data is incorrect, you may make reasonable corrections and/or deletions (as long as the purportedly inaccurate data is not otherwise required to be retained by law or for any other legitimate business purpose of PPF).</p>

	<h3>WHAT WE DO WITH YOUR INFORMATION:</h3>

	<p>Your Personal Identifying Information is not shared with any third parties without your consent except as noted below.</p>

	<p>PPF may use the Personally Identifying Information that you provide to us in order to respond to queries and requests for information submitted through the Website, to validate questions posted on the Website, and to process donations made through the Website.  We may maintain records of Personally Identifying Information you provide to us, and we may use your information to contact you, if necessary. We may from time to time send you emails or other communications that we believe may be of interest to you. If you make a donation through the Website, your information be added to one or more of our donor lists and databases, and you will be contacted about PPF activities, news, and/or fundraising campaigns.</p>

	<p>Except as noted below, you have complete control over the emails you receive from PPF. To edit your email settings, login to your account, click on “Settings” and select “Manage Email Preferences.” However, PPF reserves the right at all times to contact its Website users for business related purposes, which include,, but are not limited to: (i) if a user requests a new password, (ii) if PPF chooses to alert its users about an update to this Privacy Policy or its Terms of Service, or (iii) in response to an action taken by you using PPFs products and/or services, such as posting a question, signing on to a question, or updating your profile.</p>

	<p>PPF may additionally track data (including data which has been marked by the user as “Deleted”) relating to your behavior on the Website, including, but not limited to, posting a question, signing onto a question, your general geographic region and/or your organization affiliations (your “Website Activity Information”). Please do not post any sensitive or confidential information in any public forum of the Website which you expect to remain private, including, but not limited to, any Personally Identifying Information and/or Website Activity Information.</p>

	<p>PPF also reserves the right to disclose Personally Identifying Information that you provide to us - and any non-personal information that is automatically collected by automated means when you use the Website - to our employees, contractors, agents, designees or others in order to enable them to respond to your queries, to process online donations on our behalf, or to provide services related to your use of the Website, such as Website or server maintenance. Additionally, we reserve the right to disclose your Personally Identifying Information where we believe we are required to do so for any of the following reasons: (i) to comply with a subpoena, legal process, or government request; (ii) to comply with a legal obligation; (iii) to prevent, investigate, or prosecute any attack on the Website or on the PPF network; and/or to protect the rights or property of PPF, visitors to the Website, or the public. In the event that PPF merges with another nonprofit, or enters into an agreement with another nonprofit for the sale of the Website, we reserve the right to disclose any information to the successor nonprofit.</p>

	<p>If you post a question, or sign on to a question, please be advised that Personally Identifying Information may be delivered to the intended recipient of such question (“Question Recipients”), and/or the individual or organization that posted the question (“Question Creators”), either electronically or in writing. While PPF does take reasonable measures to verify the identify of its verified responders, it does not monitor or attempt to verify the identify of every Question Recipient or Question Creator, and disclaims all liability arising from the sharing of your Personally Identifying Information with Question Recipients and/or Question Creators.</p>

	<p>Please note that when you sign on to a question, you will have the option to elect not to have your Personally Identifying Information shared as described above, although the default setting assumes that you would like to have your information shared with the Question Recipient and Question Creator. PPF cannot control, and assumes no liability for, communications you may receive from Question Recipients and/or Question Creators, including the content, frequency, manner, or other aspect of the communications. Further, PPF has no control, and assumes no liability for, the privacy policies or practices of Question Recipients or Creators.</p>

	<p>CHILDREN’S PRIVACY: We do not knowingly collect, use, or disclose Personally Identifying Information about Website visitors under 13 years of age. If we become aware that an individual under the age of 13 has created an account on the Website, or has posted a question or other material on the Website, we will remove the material posted and delete the account used by such individual to access the Website. If you are the parent or guardian of a child under 13 years of age and believe that they have disclosed Personally Identifying Information to us, please contact us at our <a href="https://askthem.desk.com/">User Support forum</a> so that we may delete your child’s information.</p>

	<p>THIRD PARTY WEBSITES: We may provide links to third-party websites as a service to you. User-generated posts on the Website may also include links to third-party websites. Please be aware that we cannot control and are not responsible for the information collection, use, and disclosure practices of such websites, which will have different privacy practices and policies than those set forth herein. We encourage you to review and understand the privacy practices and policies, if any, of these websites before providing any Personally Identifying Information to them, and understand that should you choose to transmit such information to a third-party website, you do so at your own risk.</p>

	<p>SECURITY OF INFORMATION SUBMITTED: Please remember that any use of the Internet and computers includes inherent risks. Thus, while we have established and maintain what we believe to be reasonable procedures to protect the confidentiality, security, and integrity of Personally Identifying Information obtained through the Website, we cannot ensure or warrant the security of any information you transmit to us. Therefore, you understand, acknowledge, and agree that you transmit Personal Identifying Information over this Website at your own risk. All of the data we collect resides on servers in the United States.</p>

	<p>CHANGES TO OUR PRIVACY POLICY: We reserve the right to revise this Privacy Policy at any time by updating this posting. Please check back regularly and to see if there have been any changes to this Privacy Policy, which you can determine by reviewing the Effective Date listed below. By continuing to use the Website after those changes become effective, you agree to be bound by the revised Privacy Policy.</p>

	<p>NOTICE TO CALIFORNIA RESIDENTS: California Civil Code Section 1798.83 permits website users who are California residents to request and obtain from us once a year, free of charge, information about the personal information (if any) we disclosed to third parties for direct marketing purposes in the preceding calendar year. If applicable, this information would include a list of the categories of personal information that was shared and the names and addresses of all third parties with which we shared information in the immediately preceding calendar year. If you are a California resident and would like to request this information, please send an email to maryam@askthem.io, or write to us at:</p>

	<p>Participatory Politics Foundation</p>
	<p>Att: Maryam Gunja, Community Manager</p>
	<p>148 Lafayette St. 12th Fl.</p> 
	<p>New York, NY 10013</p>

	<p>Requests can be made over the web in our <a href="https://askthem.desk.com/">User Support forum</a> at http://askthem.desk.com.</p>

	<p>EFFECTIVE DATE: This Privacy Policy is effective as of October 1, 2013.</p>
  </div>
</section>
