<p>AskThem is a project of the Participatory Politics Foundation, a 501(c)3 non-profit organization with a mission to increase civic engagement.
AskThem is supported by a generous grant from the Knight Foundation's <a href="http://www.knightfoundation.org/funding-initiatives/tech-engagement/">Tech For Engagement</a> initiative.</p>

<p>AskThem is a free & open-source platform for questions and petitions with public figures. Previously known as the OpenGovernment.org project, AskThem allows you to target over 100,000 elected officials nationwide, from city to state to federal levels of government. Get signatures for your question or petition and push for a public response online. It's like a version of "We The People" for everyone who represents you. We seek to change the civic culture in the U.S. to ask more - and better - questions of people in power.</p>	

<p>Elected officials: sign up to become a verified responder on AskThem. It's free of charge for everyone, and you can answer questions from your constituents in an open public forum. Organizations and media outlets: sign up to help promote questions in your area and push for greater public accountability.</p>

<p>An open-source and open-data project, our code is available on GitHub and contributions welcome. For more development updates over email & community discussion, join our project Google Group.</p>
	
<p>We're actively seeking additional charitable funding support - help us launch! Email us for a copy of our non-profit funding prospectus and to help bring open Q&A to your area. If you can make a tax-exempt donation to help our work, please <a href="http://www.participatorypolitics.org/donate">donate</a>. More background is available on our <a href="https://www.newschallenge.org/open/open-government/submission/opengovernment.org-a-wethepeople-for-state-city-and-local-governments/
">Knight NewsChallenge proposal</a> from March 2013.</p>

<p>For more news & updates from the PPF team, sign up here: (field). Questions, comments? Email David Moore - david at ppolitics.org - davidmooreppf on Skype - #opengovernment in Freenode.net on IRC. </p>