<p>AskThem is a project of the Participatory Politics Foundation, a 501(c)3 non-profit organization with a mission to increase civic engagement.
AskThem is supported by a charitable grant from the Knight Foundation's <a href="http://www.knightfoundation.org/funding-initiatives/tech-engagement/">Tech For Engagement</a> initiative.</p>

<p>AskThem is a free &amp; open-source website for questions-and-answers with public figures. It's a not-for-profit tool for a stronger democracy, with open data for informed and engaged communities.</p>
	
<p>AskThem allows you to:</p>
	<ul>
	<li>Find and ask questions to over 100,000 elected officials nationwide: federal, state and city levels of government.</li>
	<li>Get signatures for your question or petition, have it delivered over email or Twitter, and push for a public response.</li>
	<li>See questions from people near you, sign-on to questions you care about, and review answers from public figures.</li>
	</ul> 

<p>It's like a version of "<a href="https://petitions.whitehouse.gov/">We The People</a>" for every elected official, from local city council members all the way up to U.S. senators. Enter your email above to be the first to ask a question when we launch and see previews of the site this Fall.</p>

<p><strong>Elected officials</strong>: enter your email above and we'll send you more information about signing up to answer questions on AskThem. It's a free and non-partisan service to respond to your constituents in an open public forum. Or, join open-government leaders and <a href="https://docs.google.com/forms/d/1iCRzEuDL6bGEkmMsTVrlH-DlQYnMX4KhSF32_tPgT8o/viewform">sign up now</a>.</p>

<p>Issue-based organizations and media companies: sign up to help promote questions to government in your area. We're working to launch with partnerships that build greater public accountability.</p>

<p>Previously known as the OpenGovernment.org project, AskThem is open-source and uses open government data - our code is available on <a href="https://github.com/opengovernment">GitHub</a> - contributions welcome. For more development updates & discussion, join our low-traffic <a href="https://groups.google.com/d/forum/opengovernment">Google Group</a>.</p>
	
<p>We're a <a href="http://www.participatorypolitics.org/">tiny non-profit organization</a> actively seeking charitable funding support - help us launch this powerful new tool for public dialogue! If you can make a tax-exempt gift to support our work, please <a href="http://www.opencongress.org/donate">donate to PPF</a> via OpenCongress. Email us for a copy of our non-profit funding prospectus and to help keep data on local questions and petitions open in the public commons. More background on the project is available on our <a href="https://www.newschallenge.org/open/open-government/submission/opengovernment.org-a-wethepeople-for-state-city-and-local-governments/
">Knight NewsChallenge proposal</a> from March 2013.</p>

<p>Questions, feedback? Email David Moore, Executive Director of PPF - david at ppolitics.org, Twitter: <a href="http://twitter.com/ppolitics">@ppolitics</a>, like our <a href="https://www.facebook.com/pages/OpenGovernment/165122773534162">OpenGovernment</a> page on Facebook; or Josh Segall, Partnerships Director, email: josh at askthem.io. More to come!</p>