<p>AskThem is a project of the Participatory Politics Foundation, a 501(c)3 non-profit organization with a mission to increase civic engagement.
AskThem is supported by a generous grant from the Knight Foundation's <a href="http://www.knightfoundation.org/funding-initiatives/tech-engagement/">Tech For Engagement</a> initiative.</p>

<p>AskThem is a free &amp; open-source platform for questions-and-answers with public figures. It's a not-for-profit tool for a stronger democracy, with open data for informed and engaged communities.</p>
	
<p>AskThem allows you to:</p>
	<ul>
	<li>Find and ask questions to over 100,000 elected officials nationwide: federal, state and city levels of government.</li>
	<li>Get signatures for your question or petition, get it delivered over email or Twitter to the target, and push for a public response online.</li>
	<li>Browse questions from people near you, sign-on to questions on issues you care about, and read answers from public figures.</li>
	</ul> 

<p>It's like a version of "We The People" for every elected official, from local city councilmembers all the way up to U.S. senators. Sign up now to be the first to ask a question when we launch and see previews.</p>

<p><strong>Elected officials</strong>: sign up to become a verified responder on AskThem. It's free of charge, and you can answer questions from your constituents in an open public forum. Issue-based organizations and media companies: sign up to help promote questions to government in your area and push for greater public accountability.</p>

<p>Previously known as the OpenGovernment.org project, AskThem is open-source and helps develop open government data - our code is available on <a href="https://github.com/opengovernment">GitHub.com</a> - contributions welcome. For more development updates & community discussion about promoting good questions for civic engagement, join our <a href="https://groups.google.com/d/forum/opengovernment">Google Group</a>.</p>
	
<p>We're a tiny non-profit actively seeking charitable funding support - help us launch! Email us for a copy of our non-profit funding prospectus and to help bring open questions and petitions to your area. If you can make a tax-exempt gift to support our work, please <a href="http://www.participatorypolitics.org/?page_id=65&preview=true">donate to PPF</a>. More background is available on our <a href="https://www.newschallenge.org/open/open-government/submission/opengovernment.org-a-wethepeople-for-state-city-and-local-governments/
">Knight NewsChallenge proposal</a> from March 2013.</p>

<p>Questions, comments? Email David Moore - david at ppolitics.org, @ppolitics on Twitter.</p>
