<section class="static">
  <h1>Help & User Support for AskThem - Contact Us Below</h1>
  <div class="related_data">
    <%- if Rails.env.production? && ENV["DESK_COM_SITE"].present? %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
    <link href="https://d218iqt4mo6adh.cloudfront.net/assets/widget_embed_191.css" media="screen" rel="stylesheet" type="text/css" />
    <!--If you already have fancybox on the page this script tag should be omitted-->
    <script src="https://d218iqt4mo6adh.cloudfront.net/assets/widget_embed_libraries_191.js" type="text/javascript"></script>

		<script>
		 new DESK.Widget({
		   version: 1,
		   site: '<%= ENV["DESK_COM_SITE"] -%>',
		   port: '80',
		   type: 'email',
		   displayMode: 1,  //0 for popup, 1 for lightbox
		   features: {
		   },
		   fields: {
		     ticket: {
		       // desc: &#x27;&#x27;,
		       // labels_new: &#x27;&#x27;,
		       // priority: &#x27;&#x27;,
		       // subject: &#x27;&#x27;
		     },
		     interaction: {
		       // email: &#x27;&#x27;,
		       // name: &#x27;&#x27;
		     },
		     email: {
		       //subject: '',
		       //body: ''
		     },
		     customer: {
		       // company: &#x27;&#x27;,
		       // desc: &#x27;&#x27;,
		       // first_name: &#x27;&#x27;,
		       // last_name: &#x27;&#x27;,
		       // locale_code: &#x27;&#x27;,
		       // title: &#x27;&#x27;
		     }
		   }
		 }).render();
		</script>
    <%- end  %>
  </div>
</section>
