<section class="static">
  <h1 style="margin-bottom: 20px;">AskThem Widget Builder</h1>
  <script class="at-widget-loader"
          src="http://www.askthem.io/widgets/widget-builder/widget.js"
          type="text/javascript"
          data-intro-headline="Set up your AskThem.io widget"
          data-intro-explanatory="Use this form & you'll get JavaScript & HTML that you can paste into the source code of your web page."
          async=""></script>
  <style>.at-widget{ width: 100%; } ic-modal-main{ max-width: 600px; }</style>
  <p style="font-size: smaller;"><em>Note - advanced users can override the built-in styles of the widgets. If you have the know how, go for it!</em></p>

</section>
