<h1>Editing candidate</h1>

<%= simple_form_for(@candidate, url: candidate_path(parent, @candidate)) do |f| %>
  <%= render partial: "form", locals: { f: f } %>
<% end %>

<div class="manage-candidates-navigation">
  <%= link_to "Show", candidate_path(parent, @candidate) %> |
  <%= link_to "Back", candidates_path(parent) %>
</div>
