<h1>New candidate</h1>

<%= simple_form_for resource do |f| %>
  <%= render partial: "form", locals: { f: f } %>
<% end %>

<div class="manage-candidates-navigation">
  <%= link_to "Back", candidates_path %>
</div>
