---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Philadelphia,%20PA&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_components\" :
        [\n            {\n               \"long_name\" : \"Philadelphia\",\n               \"short_name\"
        : \"Philadelphia\",\n               \"types\" : [ \"locality\", \"political\"
        ]\n            },\n            {\n               \"long_name\" : \"Philadelphia\",\n
        \              \"short_name\" : \"Philadelphia\",\n               \"types\"
        : [ \"administrative_area_level_2\", \"political\" ]\n            },\n            {\n
        \              \"long_name\" : \"Pennsylvania\",\n               \"short_name\"
        : \"PA\",\n               \"types\" : [ \"administrative_area_level_1\", \"political\"
        ]\n            },\n            {\n               \"long_name\" : \"United
        States\",\n               \"short_name\" : \"US\",\n               \"types\"
        : [ \"country\", \"political\" ]\n            }\n         ],\n         \"formatted_address\"
        : \"Philadelphia, PA, USA\",\n         \"geometry\" : {\n            \"bounds\"
        : {\n               \"northeast\" : {\n                  \"lat\" : 40.1379919,\n
        \                 \"lng\" : -74.9557629\n               },\n               \"southwest\"
        : {\n                  \"lat\" : 39.8670041,\n                  \"lng\" :
        -75.280303\n               }\n            },\n            \"location\" : {\n
        \              \"lat\" : 39.952335,\n               \"lng\" : -75.16378900000001\n
        \           },\n            \"location_type\" : \"APPROXIMATE\",\n            \"viewport\"
        : {\n               \"northeast\" : {\n                  \"lat\" : 40.1379919,\n
        \                 \"lng\" : -74.9557629\n               },\n               \"southwest\"
        : {\n                  \"lat\" : 39.8670041,\n                  \"lng\" :
        -75.280303\n               }\n            }\n         },\n         \"types\"
        : [ \"locality\", \"political\" ]\n      }\n   ],\n   \"status\" : \"OK\"\n}\n"
  recorded_at: Fri, 11 Oct 2013 03:36:51 GMT
recorded_with: VCR 2.5.0
