@import load

#map
  margin:
    top: 3em
    left: -5em

.state-links
  margin-top: 6em
  @media (min-width: 420px)
    @include column-count(5)
    overflow: hidden

.state-link
  display: block
  font-size: 14px
  line-height: 1.5
