@import compass
@import mixins

#overlay
  position: fixed
  background-color: rgba($black, .5)
  top: 0
  left: 0
  height: 100%
  width: 100%
  z-index: 10000

#modal
  padding: 3em 2em
  position: fixed
  +border-radius(3px)
  background-color: #F9F9F9
  text-align: center
  z-index: 10000
  @media (max-width: 420px)
    top: 2em
    width: 86%
    +box-sizing(border-box)
  @media (min-width: 420px)
    top: 30%
    left: 250px
    width: 350px

.modal-close
  font-size: 1.5em
  position: absolute
  top: 5px
  right: 7px

.modal-copy
  margin-bottom: 1em
  font:
    size: 1.5em
    weight: 100

.modal-email, .modal-facebook, .modal-twitter
  margin:
    top: 1em
    right: auto
    left: auto
  display: block
  max-width: 250px

.icon-envelope-alt, .icon-facebook, .icon-twitter
  margin-right: .5em !important
