@import load

#overlay
  position: fixed
  background-color: rgba($black, .5)
  top: 0
  left: 0
  height: 100%
  width: 100%
  z-index: 10000

#modal
  padding: 3em 2em
  position: fixed
  +border-radius(3px)
  background-color: #F9F9F9
  z-index: 10000
  @media (max-width: 420px)
    top: 2em
    width: 86%
    +box-sizing(border-box)
  @media (min-width: 420px)
    top: 15%
    left: 250px
    width: 500px

.modal-close
  font-size: 1.5em
  position: absolute
  top: 5px
  right: 7px

.modal-header
  margin-bottom: 1em
  font-size: 1.5em
  text-align: center

.modal-copy-wrap
  @media (min-width: 420px)
    margin-top: .5em
    float: left
    width: 59%

.modal-copy
  margin-bottom: 1em
  font-size: 14px
  line-height: 1.5

.modal-logo
  margin:
    right: auto
    left: auto
  display: block

.modal-shares
  text-align: center
  @media (min-width: 420px)
    float: right
    width: 35%

.modal-share
  margin-top: 1em
  display: block

.icon-envelope-alt, .icon-facebook, .icon-twitter, .icon-google-plus
  margin-right: .5em !important
