---
http_interactions:
- request:
    method: get
    uri: http://congress.api.sunlightfoundation.com/legislators/?apikey=&state=VT
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: US-ASCII
      string: ! '{"results":[{"bioguide_id":"W000800","birthday":"1947-05-02","chamber":"house","contact_form":"http://www.house.gov/formwelch/issue_subscribe.htm","crp_id":"N00000515","district":0,"facebook_id":"72680720883","fax":"202-225-6790","fec_ids":["H6VT00160","H8VT00034"],"first_name":"Peter","gender":"M","govtrack_id":"412239","icpsr_id":20750,"in_office":true,"last_name":"Welch","middle_name":null,"name_suffix":null,"nickname":null,"office":"2303
        Rayburn House Office Building","party":"D","phone":"202-225-4115","state":"VT","state_name":"Vermont","term_end":"2015-01-03","term_start":"2013-01-03","thomas_id":"01879","title":"Rep","twitter_id":"PeterWelch","votesmart_id":51272,"website":"http://www.welch.house.gov","youtube_id":"reppeterwelch"},{"bioguide_id":"L000174","birthday":"1940-03-31","chamber":"senate","contact_form":"http://www.leahy.senate.gov/contact/","crp_id":"N00009918","district":null,"facebook_id":"178569152181267","fax":"202-224-3479","fec_ids":["S4VT00017"],"first_name":"Patrick","gender":"M","govtrack_id":"300065","icpsr_id":14307,"in_office":true,"last_name":"Leahy","lis_id":"S057","middle_name":"J.","name_suffix":null,"nickname":null,"office":"437
        Russell Senate Office Building","party":"D","phone":"202-224-4242","senate_class":3,"state":"VT","state_name":"Vermont","state_rank":"senior","term_end":"2017-01-03","term_start":"2011-01-05","thomas_id":"01383","title":"Sen","twitter_id":"SenatorLeahy","votesmart_id":53353,"website":"http://www.leahy.senate.gov","youtube_id":"SenatorPatrickLeahy"},{"bioguide_id":"S000033","birthday":"1941-09-08","chamber":"senate","contact_form":"http://www.sanders.senate.gov/contact/","crp_id":"N00000528","district":null,"facebook_id":"9124187907","fax":"202-228-0776","fec_ids":["H8VT01016","S4VT00033"],"first_name":"Bernard","gender":"M","govtrack_id":"400357","icpsr_id":29147,"in_office":true,"last_name":"Sanders","lis_id":"S313","middle_name":null,"name_suffix":null,"nickname":"Bernie","office":"332
        Dirksen Senate Office Building","party":"I","phone":"202-224-5141","senate_class":1,"state":"VT","state_name":"Vermont","state_rank":"junior","term_end":"2019-01-03","term_start":"2013-01-03","thomas_id":"01010","title":"Sen","twitter_id":"sensanders","votesmart_id":27110,"website":"http://www.sanders.senate.gov","youtube_id":"senatorsanders"}],"count":3,"page":{"count":3,"per_page":20,"page":1}}'
  recorded_at: Thu, 03 Oct 2013 05:32:37 GMT
recorded_with: VCR 2.5.0
