@import "compass";
@import "mixins";

$placeholder-color: #c8c8c8;
::-webkit-input-placeholder {
  color: $placeholder-color;
}
:-moz-placeholder {
  color: $placeholder-color;
}
::-moz-placeholder {
  color: $placeholder-color;
}
:-ms-input-placeholder {
  color: $placeholder-color;
}

div.count{
  position:relative;
  span.summary_count{
    position: absolute;
    right: 0;
    top: 6px;
    font-size: 13px;
    font-weight: 600;
    color: #999;
  }
}

form{
  input[type=text],input[type=email],input[type=password],input[type=number], textarea{
    font-family:helvetica, arial, verdana, sans-serif;
    border: 1px solid #dde3e1;
    font-size:1em;
    line-height: 1.5em; 
    height:42px;
    text-indent:10px;
    @include border-radius(3px);
    width:300px;
    @include input-placeholder(#b9ccc8);
    &:focus{
      border-color:#82ccd7;
      outline: none;
    }
  }
  label{
    color: $darkblue;
    display: block;
    font-weight: 600;
    font-size: 1.125em;
    margin-bottom: 12px;
    line-height: 1em;
    span.details{
      color:$middleblue;
      display:block;
      font-size:0.889em;
      font-weight:normal;
      line-height: 1.5em;
      margin-top:6px;
    }
    span.option{
      color:#c8c8c8;
      font-size:1.125em;
      line-height: 1em;
    }
  }
  &.action{
    input[type=text]{
      background-image: url(/assets/textarea_bg@2x.png);
      border:0;
      background-size: 2px 30px;
      background-position: 0 29px;
      font-size:0.938em;
      height: auto;
      line-height: 2em;
      font-weight:100;
      color:#284249;
      outline:none;
      margin-bottom:36px;
      padding-top:0;
      text-indent:0px;
      width:100%;
      &:focus, &:hover{
        background-image: url(/assets/textarea_bg_focus@2x.png);
        background-size: 2px 30px;
        background-position: 0 29px;
        color:#818181;
      }
    }
    textarea{
      background-image: url(/assets/textarea_bg@2x.png);
      border: 0;
      background-size: 2px 30px;
      background-position: 0 29px;
      padding-top: 0;
      color:#284249;
      font-size: 0.938em;
      line-height: 2em;
      font-weight: 100;
      height:90px;
      outline: none;
      resize: none;
      margin-bottom: 36px;
      text-indent:0px;
      width: 100%;
      &:focus, &:hover{
        background-image: url(/assets/textarea_bg_focus@2x.png);
        background-size: 2px 30px;
        background-position: 0 29px;
        color:#818181;
      }
    }
  }
  fieldset{
    border-top: 1px solid #EFEFEF;
    padding-top: 36px;
    margin-bottom: 42px;
    margin-top: 36px;
    input[type=text],input[type=email],input[type=password],input[type=number], textarea{
      margin-bottom:12px;
    }
    label{
      font-size:0.813em;
      font-weight: 100;
      line-height: 1.385em;
      margin-bottom: 6px;
    }
  }
}
div.controls{
  display: block;
  margin-top: 36px;
  clear: both;
  width: 100%;
  margin-bottom: 36px;
  input[type=submit]{
    display:inline-block;
  }
  span.info{
    color: #C8C8C8;
    display: inline-block;
    clear: none;
    width: 250px;
    font-size: 0.875em;
    font-weight: 100;
    margin-left: 10px;
    line-height: 1.286em;
    text-transform: none;
    vertical-align: middle;
  }
}

// Recipient Selection
.people-list.select-person{
  li{
    @include transition(all 0.1s ease-in);
    @include opacity(.8);
    cursor: pointer;
    &:hover, &.selected, &.deselected:hover{
      @include opacity(1);
    }
    &.deselected{
      @include opacity(.3);
    }
    div.select_box{
      width: 8%;
      height: 18px;
      display: inline-block;
      vertical-align: top;
      margin-top: 12px;
      margin-right: 2.5%;
    }
    div.avatar{
      width:20%;
    }
    div.person-info{
      margin-left: 2.5%;
      width: 55%;
    }
  }
} 

/*
Success, Info, Error treatments & messages
*/
div.notif{
  h3{
    color: #477380;
    font-size:1em;
    line-height: 1.125em;
    font-weight:600;
  }
  p{
    color: #477380;
    font-size:0.813em !important;
    line-height: 1.385em !important;
    padding-bottom:0 !important;
  }
  &.preview{
    border-bottom: 1px solid #EFEFEF;
    padding-bottom: 36px;
    margin-bottom: 36px;
    a.edit{
      vertical-align:top;
    }
    div.notif_wrap{
      display: inline-block;
      margin-left:5%;
      width: 60%;
    }
  }
  &.success{
    
  }
  &.info{
    
  }
  &.error{
    
  }
}