@import "compass";
@import "mixins";

body.index{
  background: #D4E8EB;
  background-image: url(/assets/footer_illustration_temp@2x.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 100%;
  padding-bottom:900px;
  header.main, .content_body, footer{
    margin:auto;
    min-width:0;
    width:100%;
  }
  .content_body{
    background:#E7F2F5;
    @include box-shadow(0 0 0 3px rgba(0, 0, 0, 0.03), 0 0 0 3px rgba(0, 0, 0, 0.03));
    div.wrapper{
      background: #FFF;
      margin: -60px auto 60px;
      border-radius: 6px;
      border: 1px solid #DCF0F5;
      padding: 0 40px 20px;
      box-sizing: border-box;
    }
  }
  div.wrapper{
    max-width:1120px;
    margin: auto;
    padding-left: 0;
  }
  section.mobile_admin_nav{
    display: block;
    max-width: 1120px;
    margin: auto;
    position: relative;
    top: -24px;
  }
  ul.admin_nav.thin{
    display:block;
    li{
      clear:none;
      a{
        border-right:1px solid #CCE3DB;
        border-bottom:0;
        padding:12px 20px 12px;
      }
    }
  }
  footer{
    max-width: inherit;
  }
  header.main{
    height: 480px;
    padding-top: 24px;
    background: url(/assets/usa@2x.jpg) no-repeat 0 0 rgba(0, 0, 0, 0);
    background-size: 80%;
    background-position: 50% 180px;
    background-attachment: fixed;
    div.find_questions{
      display: block;
      margin: auto;
      margin-top: 60px;
      margin-bottom: 90px;
      text-align: center;
      position: relative;
    }
    h1{
      @include RobotoRegular();
      display: block;
      font-size:3.375em;
      line-height: 1.111em;
      text-align: center;
      margin: auto;
      max-width: 750px;
      font-weight: 100;
      text-shadow: 0 2px 30px #FFF;
    }
    p{
      font-size:1.5em;
      line-height: 1.5em;
      font-weight: 100;
      margin-bottom:18px;
    }
    input[type=text]{
      @include border-radius(3px);
      display: inline-block;
      max-width: 50%;
      border: 1px solid #B9CDD0;
      box-sizing: border-box;
      padding-top: 5px;
      height: 47px;
      box-shadow: 0 0 0 3px rgba(0, 0, 0, .1);
      padding-right: 138px;
      margin-right: -138px;
    }
    input[type=submit]{
      max-width: 133px;
      margin-top: 1px;
      &:hover{
        display:inline-block;
        top: 0;
      }
      &:active{
        display:inline-block;
        top: 0;
      }
    }
    
    div.ask_question{
      margin-top: 24px;
      vertical-align:middle;
      p{
        font-size: 1em;
        a{
          vertical-align:middle;
          margin-left: 12px;
        }
      }
    }
  }
  .content_body{
    div.emph_question{
      width: 100%;
      text-align: center;
      position: relative;
      div.wrap{
        display: inline-block;
        border-bottom: 1px solid #F5F5F5;
        padding: 20px 0;
        width: 100%;
      }
    }
    div.leftCol{
      float:left;
      padding-right: 3.571428571429%;
      width:48.214285714286%;
    }
    div.rightCol{
      float:left;
      padding-right: 0;
      width:48.214285714286%;
    }
    header{
      display: inline-block;
      width: 100%;
      padding-bottom: 12px;
      padding-left: 1%;
      border-bottom: 1px solid #EFEFEF;
      margin-bottom: 18px;
      margin-top: 42px;
      float: left;
      h2{
        color:$lightblue;
        display:inline-block;
        @include RobotoRegular();
        font-size:1.125em;
        line-height: 1.333em;
      }
      ul{
        display:block;
        clear:both;
        li{
          color:$lightgrey;
          font-size:0.813em;
          line-height: 1.846em;
          display:inline-block;
          padding-right: 20px;
          a{
            display:inline-block;
          }
        }
      }
    }
    ul.popular_questions{
      display: inline-block;
      margin-top: 30px;
      float: left;
      width: 85%;
      margin-left: 5%;
      &:nth-child(2n+2){
        padding-right:0;
      }
      li{
        display: inline-block;
        float: left;
        margin-bottom: 30px;
        vertical-align: top;
        width: 100%;
        padding-bottom: 30px;
        border-bottom: 1px solid #EFEFEF;
        div.person_wrap{
          display: inline-block;
          float: right;
          margin-left: 5%;
          width: 100%;
          div.row{
            display: inline-block;
            width: auto;
            margin-right: 6px;
            &:nth-child(2n+2){
              margin-bottom: 12px;
            }
          }
          span.author{
            display:inline-block;
            @include RobotoRegular();
            font-size:0.813em;
            line-height: 1.231em;
          }
          span.emph{
            background:#f7f7f7;
            border:none;
            color:#999999;
            font-size:0.563em;
            line-height: 1.778em;
            letter-spacing:1px;
            text-transform: uppercase;
            margin-top: 6px;
            margin-bottom: 6px;
          }
          div.avatar{
            display:inline-block;
            max-width: 60px;
            width: 20%;
          }
          div.person-info{
            margin-right: 12px;
            display: inline-block;
            vertical-align: top;
            width: 100%;
            h4{
              @include RobotoRegular();
              font-size:0.813em;
              line-height: 1.231em;
              padding-bottom:0;
              font-weight:normal;
            }
          }
        }
        span.jurisdiction, span.location{
          color:$lightgrey;
          @include RobotoRegular();
          display:block;
          font-size:0.813em;
          line-height: 1.231em;
        }
        a.question{
          color:$middleblue;
          display:inline-block;
          font-size:1.5em;
          font-weight:600;
          float:left;
          @include RobotoRegular();
          line-height: 1.25em;
          margin-bottom:6px;
          width:100%;
          &:hover{
            color:#709EAC;
          }
        }
        p{
          display:inline-block;
          @include RobotoRegular();
          font-size:0.813em;
          line-height: 1.385em;
          margin-bottom:30px;
        }
        div.question_stats{
          display: block;
          font-size: 0.813em;
          line-height: 1.385em;
          margin-top: 24px;
          float: left;
          width: 55%;
          margin-right: 5%;
          vertical-align: top;
          span{
            margin-right:10px;
          }
          span.support_count{
            display:inline-block;
            color:$salmon;
            font-weight:600;
          }
          div.question_progress{
            margin-top:6px;
          }
        }
        a.sign_on{
          float: left;
          width: 40%;
          box-sizing: border-box;
          margin-right: 0;
          text-align: center;
          margin-top: 24px;
        }
      }
    }
    ol.how_it_works{
      display:inline-block;
      width: 100%;
      li{
        display:inline-block;
        padding:2.5%;
        text-align:center;
        vertical-align:top;
        width:27%;
        img{
          max-width:230px;
          display:inline-block;
          width:75%;
        }
        span.num{
          background:#d5e9eb;
          @include border-radius(24px);
          color:#ffffff;
          display:inline-block;
          left:0;
          @include RobotoRegular();
          padding:8px 14px 6px 14px;
          font-size:1.875em;
          line-height: 1em;
          position:absolute;
        }
        p{
          @include RobotoRegular();
          color:$middleblue;
          display: inline-block;
          position: relative;
          text-align: left;
          padding-left: 60px;
          padding-top: 18px;
          max-width:210px;
          font-size:1em;
          line-height: 1.5em;
        }
      }
    }
  }
}

body.splash{
  background: #DCF9FD;
  background-image: url(/assets/footer_illustration_temp@2x.png);
  background-repeat: no-repeat;
  background-position: 50% 160%;
  background-size: 120%;
  header.main, div.content_body{
    display:block;
    margin:auto 6.25% auto 14.285714285714%;
    min-width:0;
    max-width:890px;
    width:79.464285714286%;
    div.wrapper{
      padding:0;
      min-height:0;
      width:auto;
    }
    a.logo{
      position:fixed;
    }
    h1{
      @include RobotoThin();
      font-weight:100;
      font-size:3.375em;
      line-height: 1em;
      margin-bottom: 36px;
    }
    nav{
      border-top:1px solid #aecacc;
      margin-bottom: 12px;
      margin-top: 12px;
      ul{
        border-bottom:1px solid #aecacc;
      }
    }
    form{
      input[type=text], input[type=email]{
        float:left;
        height:45px;
        width:76.315789473684%;
      }
      input[type=submit]{
        box-sizing: border-box;
        float:left;
        margin-top:0;
        margin-left:.877192982456%;
        width:22.80701754386%;
      }
    }
    div.leftCol{
      float:left;
      padding-top:60px;
      width:64.044943820225%;
    }
    div.rightCol{
      float:left;
      margin-left:05.357142857143%;
      width:24.719101123596%;
    }
  }
  header.main{
    margin-top:36px;
    
    div.news_signup{
      display: block;
      padding:40px 0;
      clear: both;
      position: relative;
      float: left;
      width: 100%;
    }
    
    p{
      @include RobotoBlack();
      font-size:1.125em;
      line-height: 1.333em;
    }
    div.rightCol{
      padding-top:60px;
      p{
        @include RobotoLight();
        font-size:1em;
        line-height: 1.5em;
/*        position: fixed;
        width: 15%;
        max-width: 200px;*/
      }
    }
  }
  div.content_body{
    background:rgba(240,251,252,.97);
    margin-top:60px;
    div.leftCol{
      padding-top:0;
      margin-top:42px;
      width:53.370786516854%;
    }
    div.rightCol{
      padding-left:04.494382022472%;
      border-left: 1px solid #C0C9C9;
      margin-top: 42px;
    }
    div.wrapper{
      margin-left:03.370786516854%;
      padding-bottom:90px;
    }
    p{
      @include RobotoLight();
      font-size:1em;
      line-height: 1.5em;
    }
    ul{
      margin-top:12px;
    }
    li{
      margin-bottom:12px;
    }
    div.avatar{
      max-width:60px;
      width:27.272727272727%;
    }
    div.person-info{
      display: inline-block;
      vertical-align: top;
      margin-left: 5%;
      width:63.636363636364%;
      p{
        font-size:0.813em;
        line-height: 1.385em;
      }
    }
  }
  section{
    z-index: 2;
    position:relative;
  }
  div.shade_pos{
    display: block;
    clear: both;
    z-index: 1;
    position: relative;
    div.shade{
      display: block;
      position: fixed;
      width: 100%;
      z-index: 1;
      background: rgba(0, 0, 0, 0.1);
      height: 18px;
      bottom: 0;
    }
  }
}