@import "compass";
@import "mixins";

body.index{
  background: #D4E8EB;
  background-image: url(/assets/footer_illustration_temp@2x.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 100%;
  padding-bottom:900px;
  header.main, .content_body, footer{
    margin:auto;
    min-width:0;
    width:100%;
  }
  .content_body{
    border-top:30px solid #EDFBFF;
  }
  section.mobile_admin_nav{
    display: block;
    max-width: 1120px;
    margin: auto;
    position: relative;
    top: -24px;
  }
  ul.admin_nav.thin{
    display:block;
    li{
      clear:none;
      a{
        border-right:1px solid #CCE3DB;
        border-bottom:0;
        padding:12px 20px 12px;
      }
    }
  }
  footer{
    max-width: inherit;
  }
  div.wrapper{
    max-width:1120px;
    margin: auto;
    padding-left: 0;
  }
  header.main{
    height: 480px;
    padding-top: 24px;
    background: url(/assets/usa@2x.jpg) no-repeat 0 0 rgba(0, 0, 0, 0);
    background-size: 80%;
    background-position: 50% 180px;
    background-attachment: fixed;
    div.find_questions{
      display: block;
      margin: auto;
      margin-top: 60px;
      margin-bottom: 90px;
      text-align: center;
      position: relative;
    }
    h1{
      display: block;
      font-size:2.625em;
      line-height: 1em;
      text-align: center;
      margin: auto;
      max-width: 580px;
      font-weight: 100;
      text-shadow: 0 2px 30px rgba(255, 255, 255, 1);
      strong{
        font-size:1.143em;
        line-height: 1em;
      }
    }
    p{
      font-size:1.5em;
      line-height: 1.5em;
      font-weight: 100;
      margin-bottom:18px;
    }
    input[type=text]{
      @include border-radius(1px);
      display: inline-block;
      max-width: 50%;
      border: 1px solid #B9CDD0;
      box-sizing: border-box;
      padding-top: 5px;
      height: 48px;
    }
    input[type=submit]{
      max-width: 133px;
      margin-top: 1px;
    }
  }
  .content_body{
    div.emph_question{
      display: inline-block;
      height: 13px;
      width: 100%;
      text-align: center;
      position: relative;
      div.wrap{
        display: inline-block;
        position: absolute;
        margin-left: -201px;
        top: -115px;
        padding: 20px 120px;
        background: rgba(0, 0, 0, .05);
        border-top: 1px solid #FFF;
        border-right: 1px solid #FFF;
        border-left: 1px solid #FFF;
      }
    }
    div.leftCol{
      float:left;
      padding-right: 3.571428571429%;
      width:48.214285714286%;
    }
    div.rightCol{
      float:left;
      padding-right: 0;
      width:48.214285714286%;
    }
    header{
      display: inline-block;
      width: 100%;
      padding-bottom: 12px;
      padding-left: 1%;
      border-bottom: 1px solid #EFEFEF;
      margin-bottom: 18px;
      margin-top: 42px;
      float: left;
      h2{
        color:$lightblue;
        display:inline-block;
        @include RobotoRegular();
        font-size:1.125em;
        line-height: 1.333em;
      }
      ul{
        display:block;
        clear:both;
        li{
          color:$lightgrey;
          font-size:0.813em;
          line-height: 1.846em;
          display:inline-block;
          padding-right: 20px;
          a{
            display:inline-block;
          }
        }
      }
    }
    ul.popular_questions{
      display:inline-block;
      margin-top:30px;
      float:left;
      width:100%;
      &:nth-child(2n+2){
        padding-right:0;
      }
      li{
        display:inline-block;
        float:left;
        margin-bottom:54px;
        vertical-align: top;
        width:100%;
        div.person_wrap{
          display:inline-block;
          float:left;
          margin-bottom:18px;
          width: 20%;
          div.row{
            float: left;
            margin-bottom: 12px;
            width: 100%;
          }
          div.leftCol{
            width: 20%;
            text-align: right;
          }
          div.rightCol{
            width:66%;
          }
          span.author{
            display:inline-block;
            @include RobotoRegular();
            font-size:0.813em;
            line-height: 1.231em;
          }
          span.emph{
            font-size:0.75em;
            line-height: 1.5em;
            margin-top: 6px;
          }
          div.avatar{
            display:inline-block;
            max-width: 60px;
            width: 20%;
          }
          div.person-info{
            margin-left:3%;
            display:inline-block;
            vertical-align:top;
            width:66%;
            h4{
              @include RobotoRegular();
              font-size:0.813em;
              line-height: 1.231em;
              padding-bottom:0;
              font-weight:normal;
            }
          }
        }
        span.jurisdiction, span.location{
          color:$lightgrey;
          @include RobotoRegular();
          display:block;
          font-size:0.813em;
          line-height: 1.231em;
        }
        a.question{
          color:$middleblue;
          display:inline-block;
          font-size:1.5em;
          font-weight:600;
          float:left;
          @include RobotoRegular();
          line-height: 1.25em;
          margin-bottom:6px;
          width:80%;
          &:hover{
            color:#709EAC;
          }
        }
        p{
          display:inline-block;
          @include RobotoRegular();
          font-size:0.813em;
          line-height: 1.385em;
          margin-bottom:30px;
        }
        div.question_stats{
          display:block;
          font-size:0.813em;
          line-height: 1.385em;
          float:right;
          width:60%;
          span{
            margin-right:10px;
          }
          span.support_count{
            display:inline-block;
            color:$salmon;
            font-weight:600;
          }
          a.sign{
            display:inline-block;
            font-weight:600;
          }
          div.question_progress{
            margin-top:6px;
          }
        }
      }
    }
    ol.how_it_works{
      display:inline-block;
      width: 100%;
      li{
        display:inline-block;
        padding:2.5%;
        text-align:center;
        vertical-align:top;
        width:27%;
        img{
          max-width:230px;
          display:inline-block;
          width:75%;
        }
        span.num{
          background:#d5e9eb;
          @include border-radius(24px);
          color:#ffffff;
          display:inline-block;
          left:0;
          @include RobotoRegular();
          padding:8px 14px 6px 14px;
          font-size:1.875em;
          line-height: 1em;
          position:absolute;
        }
        p{
          @include RobotoRegular();
          color:$middleblue;
          display: inline-block;
          position: relative;
          text-align: left;
          padding-left: 60px;
          padding-top: 18px;
          max-width:210px;
          font-size:1em;
          line-height: 1.5em;
        }
      }
    }
  }
}