@import "compass";
@import "mixins";

body.index{
  background: #D4E8EB;
  background-image: url(/assets/footer_illustration_temp@2x.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 100%;
  padding-bottom:900px;
  header.main, .content_body, footer{
    margin:auto;
    min-width:0;
    width:100%;
  }
  ul.admin_nav.thin{
    display:block;
    li{
      clear:none;
      a{
        border-right:1px solid #CCE3DB;
        border-bottom:0;
        padding:12px 20px 12px;
      }
    }
  }
  footer{
    max-width: inherit;
  }
  div.wrapper{
    max-width:1120px;
  }
  header.main{
    height: 344px;
    padding-top: 24px;
    background: url(/assets/usa@2x.jpg) no-repeat 0 0 rgba(0, 0, 0, 0);
    background-size: 80%;
    background-position: 50% 180px;
    background-attachment: fixed;
    div.find_questions{
      display: block;
      margin: auto;
      margin-top: 60px;
      margin-bottom: 90px;
      text-align: center;
      position: relative;
    }
    h1{
      display:block;
      font-size:1.875em;
      line-height: 1.4em;
      text-align:center;
      margin:auto auto 36px;
    }
    input[type=text]{
      @include border-radius(1px);
      display: inline-block;
      max-width: 50%;
      border: 1px solid #B9CDD0;
      box-sizing: border-box;
      padding-top: 5px;
      height: 48px;
    }
    input[type=submit]{
      max-width: 133px;
      margin-top: 1px;
    }
  }
  .content_body{
    header{
      display: inline-block;
      width: 99%;
      padding-bottom: 12px;
      padding-left: 1%;
      border-bottom: 1px solid #EFEFEF;
      margin-bottom: 18px;
      margin-top: 42px;
      h2{
        color:$lightgrey;
        display:inline-block;
        @include RobotoLight();
        font-size:1.125em;
        line-height: 1.333em;
      }
      ul{
        display:inline-block;
        float: right;
        li{
          color:$lightgrey;
          font-size:0.813em;
          line-height: 1.846em;
          display:inline-block;
          padding-left: 20px;
          a{
            display:inline-block;
          }
        }
      }
    }
    ul.popular_questions{
      display:inline-block;
      margin-top:30px;
      li{
        display:inline-block;
        padding-right:5.357142857143%;
        padding-left: 1%;
        margin-bottom:54px;
        vertical-align: top;
        width:27.571428571429%;
        &:nth-child(3n+3){
          padding-right:0;
        }
        div.person_wrap{
          display:inline-block;
          margin-bottom:18px;
          width: 100%;
          div.avatar{
            display:inline-block;
            width:14.0625%;
          }
          div.person-info{
            margin-left:3.125%;
            display:inline-block;
            vertical-align:top;
            width:79.8125%;
            h4{
              color:$lightgrey;
              @include RobotoRegular();
              font-size:1em;
              line-height: 1em;
              padding-bottom:0;
            }
            span{
              color:$lightgrey;
              @include RobotoRegular();
              display:block;
              font-size:0.813em;
              line-height: 1.231em;
            }
          }
        }
        a.question{
          color:$middleblue;
          display:inline-block;
          font-size:1em;
          font-weight:600;
          @include RobotoRegular();
          line-height: 1.125em;
          margin-bottom:6px;
          &:hover{
            color:#709EAC;
          }
        }
        p{
          display:inline-block;
          @include RobotoRegular();
          font-size:0.813em;
          line-height: 1.385em;
          margin-bottom:30px;
        }
        div.question_stats{
          display:block;
          font-size:0.813em;
          line-height: 1.385em;
          span{
            margin-right:10px;
          }
          span.author{
            display:inline-block;
            color:$lightblue;
          }
          span.support_count{
            display:inline-block;
            color:$salmon;
            font-weight:600;
          }
          a.sign{
            display:inline-block;
            font-weight:600;
          }
          div.question_progress{
            margin-top:6px;
          }
        }
      }
    }
    ol.how_it_works{
      display:inline-block;
      width: 100%;
      li{
        display:inline-block;
        padding:2.5%;
        text-align:center;
        vertical-align:top;
        width:27%;
        img{
          max-width:230px;
          display:inline-block;
          width:75%;
        }
        span.num{
          background:#d5e9eb;
          @include border-radius(24px);
          color:#ffffff;
          display:inline-block;
          left:0;
          @include RobotoRegular();
          padding:8px 14px 6px 14px;
          font-size:1.875em;
          line-height: 1em;
          position:absolute;
        }
        p{
          @include RobotoRegular();
          color:$middleblue;
          display: inline-block;
          position: relative;
          text-align: left;
          padding-left: 60px;
          padding-top: 18px;
          max-width:210px;
          font-size:1em;
          line-height: 1.5em;
        }
      }
    }
  }
}