// Place all the styles related to the people controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass";
@import "mixins";

section.people{
  header{
    position:relative;
    a.cta_pill{
      float:right;
    }
  }
  div.person_info{
    display:inline-block;
    width: 59.61538%;
  }
  div.person_photo{
    display:inline-block;
    vertical-align:top;
    width:21.505376344086%;
  }
  img.person_photo{
    margin-right:20%;
    @include rounded_corners();
    height:80%;
    width:80%;
  }
  div.person_details{
    display:inline-block;
    margin-bottom:24px;
    width:77.41935483871%;
  }
  h2{
    font-size:1em;
    line-height: 1.5em;
    font-weight:600;
  }
  .attr{
    span.count{
      display:inline-block;
      margin-right:20px;
      color:#7b969e;
      font-size:0.813em;
      line-height: 1.385em;
    }
  }
  p{
    color:#7b969e;
    font-size:0.813em;
    line-height: 1.385em;
    word-wrap: break-word;
  }
  &.listings{
    h1{
      float: left;
      clear: both;
      display: inline-block;
    }
    a.cta_pill{
      float: right;
      width: 165px;
      text-align: center;
    }
  }
}