h1{
  color: #3C636E;
  font-size: 2.25em;
  line-height: 1em;
  font-weight: 100;
}
h2{

}
h3{

}
h4{

}
h5{
  color:#3c636e;
  font-size:0.625em;
  font-weight:600;
  line-height: 2.4em;
  text-transform:uppercase;
}
footer h5{
  font-size:0.813em;
  line-height: 1.385em;
}
p{

}
span.info{
  color:#a2adae;
  text-transform:uppercase;
  font-weight:600;
  font-size:0.688em;
  line-height: 1.364em;
}
span.author{

}