@import "compass";
@import "mixins";

h1{
  color: $darkblue;
  font-size: 2.25em;
  line-height: 1em;
  font-weight: 100;
}
h2{
  font-size:1.125em;
  line-height: 1.333em;
}
h3{

}
h4{
  color:#2b464e;
  font-size:0.813em;
  line-height: 1.385em;
  padding-bottom:6px;
}
h5{
  color:$darkblue;
  font-size:0.625em;
  font-weight:600;
  line-height: 2.4em;
  text-transform:uppercase;
}
footer h5{
  font-size:0.813em;
  line-height: 1.385em;
}
p{

}
strong{
  font-weight:600;
}
span.info{
  color:#a2adae;
  text-transform:uppercase;
  font-weight:600;
  font-size:0.688em;
  line-height: 1.364em;
}
span.author{

}