<p>Please confirm your account by clicking the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, email: @resource.email, confirmation_token: @resource.confirmation_token) %></p>
