<p>You have either requested a new password or an account has been created for you as a part of a process like adding your signature in support of a question.</p>

<p>If we have created a new account for you, you'll need you to set a password for it.</p>

<p>Please change your password or set it through the link below:</p>

<p><%= link_to 'Change or set my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>If you didn't request this or didn't sign on to a question, please ignore this email.</p>

<p>Your password won't change unless you click the link above and change your password.</p>
