---
http_interactions:
- request:
    method: get
    uri: http://freegeoip.net/json/161.185.30.156
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"ip":"161.185.30.156","country_code":"US","country_name":"United
        States","region_code":"NY","region_name":"New York","city":"Brooklyn","zipcode":"11201","latitude":40.6944,"longitude":-73.9906,"metro_code":"501","areacode":"718"}'
  recorded_at: Fri, 20 Sep 2013 01:20:19 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=10013&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_components\" :
        [\n            {\n               \"long_name\" : \"10013\",\n               \"short_name\"
        : \"10013\",\n               \"types\" : [ \"postal_code\" ]\n            },\n
        \           {\n               \"long_name\" : \"Chinatown\",\n               \"short_name\"
        : \"Chinatown\",\n               \"types\" : [ \"neighborhood\", \"political\"
        ]\n            },\n            {\n               \"long_name\" : \"Manhattan\",\n
        \              \"short_name\" : \"Manhattan\",\n               \"types\" :
        [ \"sublocality\", \"political\" ]\n            },\n            {\n               \"long_name\"
        : \"New York\",\n               \"short_name\" : \"New York\",\n               \"types\"
        : [ \"locality\", \"political\" ]\n            },\n            {\n               \"long_name\"
        : \"New York\",\n               \"short_name\" : \"New York\",\n               \"types\"
        : [ \"administrative_area_level_2\", \"political\" ]\n            },\n            {\n
        \              \"long_name\" : \"New York\",\n               \"short_name\"
        : \"NY\",\n               \"types\" : [ \"administrative_area_level_1\", \"political\"
        ]\n            },\n            {\n               \"long_name\" : \"United
        States\",\n               \"short_name\" : \"US\",\n               \"types\"
        : [ \"country\", \"political\" ]\n            }\n         ],\n         \"formatted_address\"
        : \"New York, NY 10013, USA\",\n         \"geometry\" : {\n            \"bounds\"
        : {\n               \"northeast\" : {\n                  \"lat\" : 40.728263,\n
        \                 \"lng\" : -73.994378\n               },\n               \"southwest\"
        : {\n                  \"lat\" : 40.7118841,\n                  \"lng\" :
        -74.0215158\n               }\n            },\n            \"location\" :
        {\n               \"lat\" : 40.7217861,\n               \"lng\" : -74.0094471\n
        \           },\n            \"location_type\" : \"APPROXIMATE\",\n            \"viewport\"
        : {\n               \"northeast\" : {\n                  \"lat\" : 40.728263,\n
        \                 \"lng\" : -73.994378\n               },\n               \"southwest\"
        : {\n                  \"lat\" : 40.7118841,\n                  \"lng\" :
        -74.0215158\n               }\n            }\n         },\n         \"types\"
        : [ \"postal_code\" ]\n      }\n   ],\n   \"status\" : \"OK\"\n}\n"
  recorded_at: Fri, 20 Sep 2013 01:20:19 GMT
- request:
    method: get
    uri: http://congress.api.sunlightfoundation.com/legislators/locate?apikey=&fields=bioguide_id&latitude=40.7217861&longitude=-74.0094471
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: US-ASCII
      string: ! '{"results":[{"bioguide_id":"S000148"},{"bioguide_id":"N000002"},{"bioguide_id":"G000555"}],"count":3,"page":{"count":3,"per_page":20,"page":1}}'
  recorded_at: Fri, 20 Sep 2013 01:20:20 GMT
- request:
    method: get
    uri: http://openstates.org/api/v1/legislators/geo/?apikey=&fields=id&lat=40.7217861&long=-74.0094471
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '[{"district": "66", "chamber": "lower", "state": "ny", "boundary_id":
        "sldl/ny-66", "id": "NYL000112"}, {"district": "26", "chamber": "upper", "state":
        "ny", "boundary_id": "sldu/ny-26", "id": "NYL000057"}]'
  recorded_at: Fri, 20 Sep 2013 01:20:21 GMT
recorded_with: VCR 2.5.0
