<section>
  <ol>
    <% @people.asc(:sort_name).each do |person| %>
    <li>
      <% if person.image? %>
        <%= cloudfront(person.image, 50, 75) %>
      <% end %>
      <% if person['party'] %>
        <%= person['party'] %>
      <% end %>
      <%= link_to person.name, person %>
    </li>
    <% end %>
  </ol>
</section>
