/* TODO: host site needs to declare these */
.at-widget {
  width: 580px;
}

.at-widget input {
  font-size: 13px;
  text-transform: none;
  color: #231f20;
}

.at-widget h4 {
  font-size: 16px;
  color: #231f20;
  text-transform: uppercase;
}

.at-widget .description {
  font-size: 15px;
  color: #231f20;
}
/* END TODO: host site needs to declare these */

.at-widget {
  height: auto;
  background: #fff;
  float: left;
  border: 1px solid #c6c7c7;
  text-align: center;
  padding-bottom: 0;
}

.at-widget fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
.at-widget input {
  margin-top: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #d3d9de;
  padding: 5px 10px;
}

.at-widget .zip {
  vertical-align: top;
  display: inline-block;
  width: 156px;
  height: 39px;
}

.at-widget h4 {
  margin: 50px 20px 17px 20px;
}

.at-widget .description {
  margin-bottom: 18px;
  margin-right: 40px;
  margin-left: 40px;
}

.at-widget .description p {
  margin: 0;
}

.at-widget .button {
  display: inline-block;
}

.at-widget .button .sign {
  margin: 0px auto 0px auto;
  position: relative;
  z-index: 0;
  cursor: pointer;
  display: table;
  width: 129px;
  height: 40px;
  background-color: #1cd1fd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

.at-widget .button .sign:hover {
  background-color: #03b4da;
}

.at-widget .button .sign > * {
  display: table-cell;
  vertical-align: middle;
}

.at-widget .button .sign .question {
  cursor: pointer;
  background-image: url('//www.askthem.io/widgets/zip/question-little.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 21px 21px;
  position: relative;
  width: 42px;
  border-right: 1px solid #91d6eb;
}

.at-widget .button .sign .ptext {
  cursor: pointer;
  background-image: url('//www.askthem.io/widgets/zip/ask-little.png');
  background-repeat: no-repeat;
  background-position: center center;
  width: 61px;
  height: 100%;
  line-height: 18px;
  vertical-align: middle;
  padding: 0 13px;
  border-left: 1px solid #11abd0;
}
