---
http_interactions:
- request:
    method: get
    uri: http://api.votesmart.org/Officials.getByOfficeState?key=&o=JSON&officeId=9&stateId=VT
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"candidateList":{"generalInfo":{"title":"Project Vote Smart - Search
        Candidates","linkBack":"http:\/\/votesmart.org\/"},"candidate":[{"candidateId":"80645","firstName":"Timothy","nickName":"Tim","middleName":"R.","preferredName":"Timothy","lastName":"Ashe","suffix":"","title":"Senator","ballotName":"","electionParties":"","electionStatus":"","electionStage":"","electionDistrictId":"","electionDistrictName":"","electionOffice":"","electionOfficeId":"","electionStateId":"","electionOfficeTypeId":"","electionYear":"","electionSpecial":"","electionDate":"","officeParties":"Democratic,
        Progressive","officeStatus":"active","officeDistrictId":"27137","officeDistrictName":"Chittenden","officeStateId":"VT","officeId":"9","officeName":"State
        Senate","officeTypeId":"L","runningMateId":"","runningMateName":""},{"candidateId":"50993","firstName":"Claire","nickName":"","middleName":"D.","preferredName":"Claire","lastName":"Ayer","suffix":"","title":"Senator","ballotName":"","electionParties":"","electionStatus":"","electionStage":"","electionDistrictId":"","electionDistrictName":"","electionOffice":"","electionOfficeId":"","electionStateId":"","electionOfficeTypeId":"","electionYear":"","electionSpecial":"","electionDate":"","officeParties":"Democratic","officeStatus":"active","officeDistrictId":"27[...]
